<!--  Main index page for showing all City Reviews, WUL reviews. -->
<div class="content">
  <div class="tier"> <!-- Begin - Main tier for page. -->
    <!-- Below -  Renders in the accordian from views/layouts/phones/... for mobile and tablet. -->
    <%= render "layouts/phones/mobile_accordion" %>
    <!-- Main center content for department listing and panel -->
    <div class="center col-d-7 col-t-11 col-p-12">
       <!-- Begin - WUL Page Info -->
      <div id="page_info_card_org" class="col-tier">
        <div id="page_info_card" class="col-all-12 margin-b-15">
          <div class="tier">
            <div class="col-all-12">
              <p class="page_info_title pull-left">
                <%= "City Reviews Feed" if current_page?(city_review_index_path(@city)) %>
                <%= "City Reviews - Loves Feed" if current_page?(loves_city_review_index_path(@city)) %>
                <%= "City Reviews - Improves Feed" if current_page?(improves_city_review_index_path(@city)) %>
              </p>
            </div>

            <div class="col-all-12 light-box-shadow card" style="border: 1px solid rgba(128, 128, 128, .5)">
              <div class="card-body theme_color_black">
                <div class="col-d-9 col-t-12 col-p-12 pull-left">
                  <!-- Begin -  If statement for checking Page info content -->
                  <% if current_page?(city_review_index_path(@city)) %>
                    <p class="text-big" style="font-family: Roboto;"><i>A City Review is an overall review of people’s experience living in their City.</i></p> 
                    <p class="text-medium mb-0">When reviewing the city, we ask Ossemble users to write it <br> as though they are recommending living there to their best friend.</p>

                  <% elsif current_page?(loves_city_review_index_path(@city)) %>
                    <p class="text-big" style="font-family: Roboto;"><i>Reviews that were scored as overwhelmingly positive.</i></p> 
                    <p class="text-medium mb-0">The Loves Feed is where you can find the best qualities of a city.</p>
                  
                  <% elsif current_page?(improves_city_review_index_path(@city)) %>
                    <p class="text-big" style="font-family: Roboto;"><i>Here you can see what areas the city needs to improve upon.</i></p> 
                    <p class="text-medium mb-0">Ossemble is a tool for improvement, these reviews help a city move foward.</p>
                  <% end %> <!--  End - City Review feed check  -->
          
                </div>
                <div class="page_info_icon_hide col-all-3 pull-right center-all pl-3 theme_color_dark margin-t-0 page_info_icon" style="height: 130px;">
                  <%= "<i class='fas fa-heart' style='position: relative; top: -15px'></i>".html_safe if current_page?(city_review_index_path(@city)) || current_page?(loves_city_review_index_path(@city)) %>
                  <%= "<i class='fas fa-exclamation' style='font-size: 110px; position: relative; top: -20px'></i>".html_safe if current_page?(improves_city_review_index_path(@city)) %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End- WUL Page Info -->
      
      <div class="tier">
        <div class="col-tier padding-b-20">
          <p class="trending_list_title col-p-12">
            Trending - Week
          </p>
        <%= render 'filters/feed_filter', obj: @city_reviews %>
        <!-- Below - Renders in sort panel partial for ordering of City Reviews with the object City_review -->
        <div class="">
         <%= render 'layouts/sort_panel', obj: @city_reviews %>
        </div>
      </div>
      <!-- Below - Renders in all City Reviews -->
      <div class="col-tier">
        <div class="col-all-12">
          <%= render 'layouts/resources/resources_list', obj: @city_reviews %>
        </div>
      </div>

      </div> 
    </div>
    <div id="non_ms_ap_content" class="col-d-3 col-t-10 col-p-12" >
      <%= render 'layouts/action_panel', obj: @city_reviews %>
    </div>
  </div> <!-- Main page tier -->
</div>