<!-- Main email for when a user signs up and to register their account. (views/devise/mailer/confirmation_instructions.html.erb)-->
<!DOCTYPE html>
<html>
<title>
  Petition from Ossemble
</title>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, shrink-to-fit=no">
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <% time = Time.find_zone! "EST" %>
    <% time_now = time.now.to_formatted_s(:long_ordinal) %>
<style type="text/css">

  /* Take care of image borders and formatting */
.emailBtn {
	-moz-box-shadow:inset 0px 15px 15px -3px #e184f3;
	-webkit-box-shadow:inset 0px 15px 15px -3px #e184f3;
	box-shadow:inset 0px 15px 15px -3px #e184f3;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c123de), color-stop(1, #a20dbd) );
	background:-moz-linear-gradient( center top, #c123de 5%, #a20dbd 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c123de', endColorstr='#a20dbd');
	background-color:#c123de;
	-webkit-border-top-left-radius:37px;
	-moz-border-radius-topleft:37px;
	border-top-left-radius:37px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:37px;
	-moz-border-radius-bottomright:37px;
	border-bottom-right-radius:37px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #a511c0;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:210px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #9b14b3;
}
.emailBtn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a20dbd), color-stop(1, #c123de) );
	background:-moz-linear-gradient( center top, #a20dbd 5%, #c123de 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a20dbd', endColorstr='#c123de');
	background-color:#a20dbd;
}.emailBtn:active {
	position:relative;
	top:1px;
  img {
    max-width: 600px;
    outline: none;
    text-decoration: none;
    -ms-interpolation-mode: bicubic;
  }

  a {
    border: 0;
    outline: none;
  }

  a img {
    border: none;
  }

  /* General styling */

  td, h1, h2, h3  {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
  }

  td {
    font-size: 13px;
    line-height: 19px;
    text-align: left;
  }

  body {
    -webkit-font-smoothing:antialiased;
    
    width: 100%;
    height: 100%;
    color: #37302d;
    background: #ffffff;
  }

  table {
    border-collapse: collapse !important;
  }


  h1, h2, h3, h4 {
    padding: 0;
    margin: 0;
    color: black;
    font-weight: 400;
    line-height: 110%;
  }

  h1 {
    font-size: 35px;
    color: #645496
  }

  h2 {
    font-size: 30px;
    color: black
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 18px;
    font-weight: normal;
  }

  .important-font {
    color: #21BEB4;
    font-weight: bold;
  }

  .hide {
    display: none !important;
  }

  .force-full-width {
    width: 100% !important;
  }
      
  .emailText {
     color: black;     
  }
/* Styles for The Register Button */
     
  </style>

  <style type="text/css" media="screen">
      @media screen {
        @import url(http://fonts.googleapis.com/css?family=Open+Sans:400);

        /* Thanks Outlook 2013! */
        td, h1, h2, h3 {
          font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif !important;
        }
      }
  </style>

  <style type="text/css" media="only screen and (max-width: 600px)">
    /* Mobile styles */
    @media only screen and (max-width: 600px) {

      table[class="w320"] {
        width: 320px !important;
      }

      table[class="w300"] {
        width: 300px !important;
      }

      table[class="w290"] {
        width: 290px !important;
      }

      td[class="w320"] {
        width: 320px !important;
      }

      td[class~="mobile-padding"] {
        padding-left: 14px !important;
        padding-right: 14px !important;
      }

      td[class*="mobile-padding-left"] {
        padding-left: 14px !important;
      }

      td[class*="mobile-padding-right"] {
        padding-right: 14px !important;
      }

      td[class*="mobile-padding-left-only"] {
        padding-left: 14px !important;
        padding-right: 0 !important;
      }

      td[class*="mobile-padding-right-only"] {
        padding-right: 14px !important;
        padding-left: 0 !important;
      }

      td[class*="mobile-block"] {
        display: block !important;
        width: 100% !important;
        text-align: left !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-bottom: 15px !important;
      }

      td[class*="mobile-no-padding-bottom"] {
        padding-bottom: 0 !important;
      }

      td[class~="mobile-center"] {
        text-align: center !important;
      }

      table[class*="mobile-center-block"] {
        float: none !important;
        margin: 0 auto !important;
      }

      *[class*="mobile-hide"] {
        display: none !important;
        width: 0 !important;
        height: 0 !important;
        line-height: 0 !important;
        font-size: 0 !important;
      }

      td[class*="mobile-border"] {
        border: 0 !important;
      }
    }
  </style>
</head>
<body class="body" style="padding:0; margin:0; display:block; background:#ffffff; -webkit-text-size-adjust:none" bgcolor="#ffffff">
<table align="center" cellpadding="0" cellspacing="0" width="100%" height="100%">
  <tr>
    <td align="center" valign="top" bgcolor="#ffffff"  width="100%">

    <table cellspacing="0" cellpadding="0" width="100%">
      <tr>
        <td style="background:#e8e8e8" width="100%">

          

        </td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid #e7e7e7;">

          <center>
            <table cellpadding="0" cellspacing="0" width="600" class="w320">
              <tr>
                <td align="left" class="mobile-padding" style="padding:20px 20px 0">

                  <br class="mobile-hide" />
                  <h2>
                    <%= "#{@city.name} - Citizen Action Petition (CAP)" %>
                  </h2>

                  <br>
                  <p class="emailtext" style="font-size: 17px">
                  <p>
                      <%= @petition.user.name %>, a citizen of 
                    <b>
                      <%= @city.name.capitalize %>
                    </b> 
                          has gathered enough signatures to officially send a petition for your consideration. 
                    <br>
                  </p>
                  <p>
                      The petition,
                    <b>  
                        "<%= @petition.title %>",
                    </b>
                        is being sent to you because <%= @petition.count_votes_up %> <%= @city.name %> citizens have signed it in support of its goal, as follows:
                    <b>
                        <%= @petition.goal %>,
                    </b>
                       <%= " in order to address these issues: #{@petition.issues}" if @petition.issues %>
                    </p>
                    <p>
                      This petition was also sent to <%= @petition.recipient_slug if @petition.recipient_slug? %><%= " and #{@petition.additional_recipient_slug}" if @petition.additional_recipient? %>.
                    </p>


                  <table cellspacing="0" cellpadding="0" width="100%" bgcolor="#ffffff">
                    <div style="width: 125px !important;">
                    <tr style="width: 125px;">
                          <p style="font-size: 17px">
                    <% if @petition.file.attached? %>
                      If you would like to see more information, the petition's author attached the following document for clarification: <%= link_to "Download File".html_safe, rails_blob_path(@petition.file, disposition: :attachment) %>
                    <% end %>
                  </p>
                  <p style="font-size: 17px">
                    Ossemble acts as a liaison between local citizens and their government. We hope that you can see the demand and passion behind this petition, and will respond to your citizens. This can be accomplished by visiting and interacting with the petition here: <%= link_to "#{@petition.title} Petition for #{@city.name}", city_petition_url(@city, @petition) %>.   
                  </p>
                  <p style="font-size: 17px">
                   There, you can submit a plan to address the petition, acknowledge it, and respond to the signers.
                  </p>
                </p>

                <h1>
                  Sincerely,
                  <br>
                  X 
                  <span style="text-decoration: underline; font-weight: bold; ">
                    Ossemble Inc.
                  </span> 
                  <span style="font-size: 20px">
                    & <%= @petition.count_votes_up %> of <%= @city.name %>, <%= @city.state_name %> Ossemble Users. 
                  </span>
                </h1>

                <p>
                  Thank you!
                </p>
                <p>
                  <%= time_now %> <!-- Renders the current time in EST long ordinal -->
                </p>
                      <td width="316" style="background-color:#ffffff; font-size:0; line-height:0;">&nbsp;</td>
                    </tr>
                    </div>
                  </table>
                  <br>
                </td>
                <td class="mobile-hide" style="padding-top:20px;padding-bottom:0;vertical-align:bottom">
                  <table cellspacing="0" cellpadding="0" width="100%">
                  </table>
                </td>
              </tr>
            </table>
          </center>

        </td>
      </tr>
        
     <td valign="top" style="background-color:#f8f8f8;border-bottom:1px solid #e7e7e7;">

          <center>
            <table border="0" cellpadding="0" cellspacing="0" width="600" class="w320" style="height:100%;">
              <tr>
                <td valign="top" class="mobile-padding" style="padding:20px;">
                  <h2 style="margin-top: 0px">About Ossemble</h2>
                  
                    <p class="emailText" style="font-size: 15px; margin-bottom: 15px !important">
                 * You can create a free <%= link_to "Ossemble City Profile", new_admin_registration_url %> to interact with petitions and the citizens in your city by utilizing a City Profile feature. 
                Our goal is the same as yours: Greater cooperation between citizens and their government. *
                  <br>
                </p>
                <b style="margin-top: 15px !important">
                <%= link_to "Find out more by clicking here.", about_city_landing_page_url %> 
                </b>       
                </td>
              </tr>
            </table>
          </center>

        </td>
      <tr>
        <td style="background-color:#e8e8e8;">
          <center class="center">
              <table border="0" cellpadding="0" cellspacing="0" width="600" class="w320" style="height:100%;color:#ffffff" bgcolor="#1f1f1f" >
              <tr>
                <td align="right" valign="middle" class="mobile-padding" style="font-size:20px;padding:20px; background-color:#e8e8e8; color:#8e8e8e; text-align:left; padding-top: 0px !important;">
                <img src="https://s3.us-east-2.amazonaws.com/www.ossemble.com/images/Owl_Email_logo.png" style="margin-bottom: 0; margin-top: 15px">     
                  <p style="font-size: 20px !important; margin-bottom: 0px !important; padding-left: 0px important!; margin-top: 10px">Ossemble Inc.</p>
                    <p style="font-size: 12px !important; margin-bottom: 0px !important; margin-top: 3px !important;">Copyright &copy; 2018</p>
                    <p style="font-size: 12px !important; margin-bottom: 0px !important; margin-top: 0px !important;">All rights reserved.</p>
                </td>
              </tr>
            </table>
              <table border="0" cellpadding="0" cellspacing="0" width="600" class="w320" style="height:100%;color:#ffffff" bgcolor="#1f1f1f" >
              <tr>
                <td align="right" valign="middle" class="mobile-padding" style="font-size:12px;padding:20px; background-color:#e8e8e8; color:#C361F1; text-align:left; padding-bottom: 10px !important; padding-top: 10px">
                  <a style="color: #645496;"  href="https://www.ossemble.com/about/contact_us">Contact Us</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                  <a style="color: #645496;" href="https://www.facebook.com/ossemble/">Facebook</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                  <a style="color: #645496;" href="https://twitter.com/Ossemble">Twitter</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                  <a style="color: #645496;" href="https://www.instagram.com/ossemble/">Instagram</a>&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
              </tr>
            </table>
          </center>
        </td> 
      </tr>
    </table>

    </td>
  </tr>
</table>
</body>
</html>