<!-- Begin - Meta data for sharing on facebook and twitter. -->
<meta property="og:title" content="Ossemble">
<meta property="og:image" content=
 "https://s3.us-east-2.amazonaws.com/www.ossemble.com/images/owl_login_logo.png">
<meta property="og:url" content=
 "https://www.ossemble.com/"> 
<meta property="og:type" content="website">
<!-- End - Meta data for sharing on Facebook and twitter. -->
    
<!-- Begin - Index Splash Landing Page (views/visiotrs/index.html.erb)-->
<div id="newlanding" class="content-fluid pt-0 px-0" style="background-color: #F8F8FF !important;">
  <div class="content-fluid ms_cf_pad">
    <div class="col-all-12 land_ms_top_pad" style="padding-top: 70px;">
      <div class="col-tier">
        <div class="col-all-12 land_top_text_ms">
          <div class="center-all theme_color_dark landing_top_text">
            The regional collaboration platform 
          </div>
          <div class="col-tier">
            <div class="col-all-5 theme_color_dark landing_top_text landingt-2">
              <span class="push-right pull-right pr-3">built for…</span>
            </div>
            <div class="col-all-4 theme_color_dark landing_top_text landingt-1">
              <span class="push-right pull-right pr-3">built for…</span>
            </div>
            <div class="col-d-6 col-t-6 col-p-8">
             <div id="text" class="pt-1"></div><div id="cursor"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
   <div class="col-all-12 mt-5" style="margin-bottom: 44px;">
     <div class="col-tier">
      <div class="col-d-7 col-t-7 col-p-12 landingt-2 pull-right pr-0">
       <%= image_tag "icons/landing/landing-page-top.png", alt: "Icon", class: "pull-right mb-0 relative", style: "height: 100%; width: 550px; top: -25px" %>
     </div>
     <div class="pull-left col-d-5 col-t-5 col-p-12 pl-5 landingt-2">
      <div class="buttons-two">
        <a class="button-one light-text-shadow light-box-shadow relative" style="top: 140px;" href="<%= new_admin_registration_path %>"><span>Try Now</span></a>
      </div>
     </div>
    <div class="col-all-10 landingt-1 center pr-0">
       <%= image_tag "icons/landing/landing-page-top.png", alt: "Icon", class: "pull-right mb-0 relative", style: "height: 90%; width: 500px; top: -15px" %>
     </div>
    <div class="center-all col-all-12 pl-0 landingt-1">
      <div class="buttons-two">
        <a class="button-one light-text-shadow light-box-shadow relative padding-all-15" href="<%= new_admin_registration_path %>"><span>Try Now</span></a>
      </div>
     </div>
     </div>
   </div>       
  </div>
 
 
    <div id="test-carousel" class="center-all pt-3 landing_mb_ms" style="background-color: #F8F8FF; margin-bottom: 64px;"> 
    <div class="col-all-12 center-all p-2" style="max-width: 1425px; min-height: 715px;">
      <div class="col-tier">
        <div id="carouselContent" class="carousel slide carousel-fade" data-ride="carousel" data-interval="false" style="width: 100% !important">
            <div class="carousel-inner mt-4" role="listbox">
                <div class="carousel-item active">
                  <div class="col-tier">
                    <div class="center theme_color_dark landing_titles_ms" style="font-size: 35px; text-shadow: white 1px 1px 2px;">
                      A Two Sided Solution - <span class="b theme_color_dark landing_titles_ms" style="font-size: 36px; text-shadow: white 1px 1px 2px;">Built for teams</span>
                    </div>
                  </div>
                  <div class="center text-24 theme_color_dark landing_info_ms" style="text-shadow: white 1px 1px 2px;">
                    Invite employees or volunteers to collaborate within private workplace channels.
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="col-tier">
                    <div class="center theme_color_dark landing_titles_ms" style="font-size: 35px; text-shadow: white 1px 1px 2px;">
                      A Two Sided Solution - <span class="b theme_color_dark landing_titles_ms" style="font-size: 36px; text-shadow: white 1px 1px 2px;">Designed for citizens</span>
                    </div>
                  </div>
                  <div class="center text-24 theme_color_dark" style="text-shadow: white 1px 1px 2px;">
                    Create public channels to gather suggestions from citizens & stakeholders.          
                   </div>
                </div>
            </div>
            <a class="carousel-control-next relative" style="left: 1075px; top: -57px;" href="#carouselContent" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"><i class="fas fa-angle-right theme_color_dark" style="font-size: 45px;"></i></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
      </div>
      <%= image_tag "https://s3.us-east-2.amazonaws.com/ossemble.com/GIFs/workplacesnew.gif", alt: "Workplace Feed", class: "landing_gif_ms mb-4 mr-0 light-box-shadow", style: "height: 500px; border: 2px solid #b5afaf; border-radius: 5px;" %>
      <div class="center-all col-tier">
        <a href="features" class="button-one light-text-shadow light-box-shadow center-all" style="border-radius: 5px; width: 150px !important; font-size: 20px !important; padding: 10px !important;" onclick="amplitude.getInstance().logEvent('Learn More - Two Sided Solution');"><span>Learn More</span></a>
      </div>
    </div>
   </div>
   
   <div id="test-carousel" class="center-all pt-3 landing_mb_ms" style="background-color: #F8F8FF; margin-bottom: 64px;"> 
    <div class="col-all-12 center-all p-2" style="max-width: 1425px; min-height: 715px; ">
      <div class="col-tier">
        <div id="carouselContent1" class="carousel slide carousel-fade" data-ride="carousel" data-interval="false" style="width: 100% !important">
            <div class="carousel-inner mt-4" role="listbox">
                <div class="carousel-item active">
                  <div class="col-tier">
                    <div class="center theme_color_dark landing_titles_ms" style="font-size: 35px; text-shadow: white 1px 1px 2px;">
                      Direct Communication - <span class="b theme_color_dark landing_titles_ms" style="font-size: 36px; text-shadow: white 1px 1px 2px;">Improve efficiency</span>
                    </div>
                  </div>
                  <div class="center text-24 theme_color_dark landing_info_ms" style="text-shadow: white 1px 1px 2px;">
                    Easily locate members of your channel by name, department, or title.
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="col-tier">
                    <div class="center theme_color_dark landing_titles_ms" style="font-size: 35px; text-shadow: white 1px 1px 2px;">
                      Direct Communication - <span class="b theme_color_dark landing_titles_ms" style="font-size: 36px; text-shadow: white 1px 1px 2px;">Keep Track</span>
                    </div>
                  </div>
                  <div class="center text-24 theme_color_dark landing_info_ms" style="text-shadow: white 1px 1px 2px;">
                    Access members contact information and save notes from conversations.          
                   </div>
                </div>
            </div>
            <a class="carousel-control-next relative" style="left: 1075px; top: -57px;" href="#carouselContent1" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"><i class="fas fa-angle-right theme_color_dark" style="font-size: 45px;"></i></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
      </div>
      <%= image_tag "https://s3.us-east-2.amazonaws.com/ossemble.com/GIFs/directorynew.gif", alt: "Workplace Directory", class: "landing_gif_ms mb-4 mr-0 light-box-shadow", style: "height: 500px; border: 2px solid #b5afaf; border-radius: 5px;" %>
      <div class="center-all col-tier">
        <a class="button-one light-text-shadow light-box-shadow center-all" href="features" style="border-radius: 5px; width: 150px !important; font-size: 20px !important; padding: 10px !important;" onclick="amplitude.getInstance().logEvent('Learn More - Two Sided Solution');"><span>Learn More</span></a>
      </div>
    </div>
   </div>
   
   <div id="test-carousel" class="center-all pt-3 landing_mb_ms" style="background-color: #F8F8FF; margin-bottom: 44px;"> 
    <div class="col-all-12 center-all p-2" style="max-width: 1425px; min-height: 715px; ">
      <div class="col-tier">
        <div id="carouselContent2" class="carousel slide carousel-fade" data-ride="carousel" data-interval="false" style="width: 100% !important">
            <div class="carousel-inner mt-4" role="listbox">
                <div class="carousel-item active">
                  <div class="col-tier">
                    <div class="center theme_color_dark landing_titles_ms" style="font-size: 35px; text-shadow: white 1px 1px 2px;">
                      Knowledge Base - <span class="b theme_color_dark landing_titles_ms" style="font-size: 36px; text-shadow: white 1px 1px 2px;">Onboarding</span>
                    </div>
                  </div>
                  <div class="center text-24 theme_color_dark landing_info_ms" style="text-shadow: white 1px 1px 2px;">
                    Securely upload and share compliances, SOPs and other documentation.
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="col-tier">
                    <div class="center theme_color_dark landing_titles_ms" style="font-size: 35px; text-shadow: white 1px 1px 2px;">
                     Knowledge Base - <span class="b theme_color_dark landing_titles_ms" style="font-size: 36px; text-shadow: white 1px 1px 2px;">Offboarding</span>
                    </div>
                  </div>
                  <div class="center text-24 theme_color_dark landing_info_ms" style="text-shadow: white 1px 1px 2px;">
                    Save knowledge from retiring team members and pass it down to new hires.          
                   </div>
                </div>
            </div>
            <a class="carousel-control-next relative" style="left: 1075px; top: -57px;" href="#carouselContent2" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"><i class="fas fa-angle-right theme_color_dark" style="font-size: 45px;"></i></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
      </div>
      <%= image_tag "https://s3.us-east-2.amazonaws.com/ossemble.com/GIFs/archivegifnew.gif", alt: "Archive Gif", class: "landing_gif_ms mb-4 mr-0 light-box-shadow", style: "height: 500px; border: 2px solid #b5afaf; border-radius: 5px;" %>
      <div class="center-all col-tier">
        <a class="button-one light-text-shadow light-box-shadow center-all" href="features" style="border-radius: 5px; width: 150px !important; font-size: 20px !important; padding: 10px !important;" onclick="amplitude.getInstance().logEvent('Learn More - Two Sided Solution');"><span>Learn More</span></a>
      </div>
    </div>
   </div>

  <div class="">
    <div style="background-color: #F8F8FF">
    <div class="col-d-10 col-t-12 col-p-12 p-2 center-all">
    	<div class="container3">
        <div class="col-all-12">
          <div class="tier">
            <div class="col-d-12 center-all">
	            <div class="page-end-box mt-4 mb-0 center-all col-d-5 col-t-7 col-p-12">
	              <h3 class="end-text p-0 theme_color_dark">Are you still collaborating through email?</h3>
	              <div class="buttons-two margin-b-20">
	                <a class="button-one light-text-shadow light-box-shadow padding-all-15" style="top: 30px" href="<%= new_admin_registration_path %>"><span>Try Now</span></a>
	              </div>
	        		</div>
        		</div>
      		</div>
    		</div>
    	</div>
     <%= image_tag "icons/OssembleBanner.png", alt: "Icon", class: "center-all mt-5", style: "max-height: 425px; height: 100%; width: 100%;" %>
    </div>
  </div>
 </div>
</div>
    

<script>
    var ml_webform_742238 = ml_account('webforms', '742238', 'l6h8p1', 'load');
    ml_webform_742238('animation', 'fadeIn');
</script>

<script>
  const textNode = document.querySelector('#jumbo_main_text,jumbo_slogan_text');
const splitTextArr = textNode.innerText.split(" ");
let finalMarkup = "";
splitTextArr.forEach(buildMarkup);


function buildMarkup(text, index) {
  let spanText;
  (index === 2) ? 
  spanText = "<span>" + text + "</span><br />" : 
  spanText = "<span>" + text + "</span> ";
  
  return finalMarkup += spanText;
}

textNode.innerHTML = finalMarkup;
</script>

<script>
  // List of sentences
var _CONTENT = [ 
	"Municipalities", 
	"Political Campaigns", 
	"City Planners", 
	"Grassroots Organizations", 
	"Economic Developers", 
	"Community Developers"
];

// Current sentence being processed
var _PART = 0;

// Character number of the current sentence being processed 
var _PART_INDEX = 0;

// Holds the handle returned from setInterval
var _INTERVAL_VAL;

// Element that holds the text
var _ELEMENT = document.querySelector("#text");

// Cursor element 
var _CURSOR = document.querySelector("#cursor");

// Implements typing effect
function Type() { 
	// Get substring with 1 characater added
	var text =  _CONTENT[_PART].substring(0, _PART_INDEX + 1);
	_ELEMENT.innerHTML = text;
	_PART_INDEX++;

	// If full sentence has been displayed then start to delete the sentence after some time
	if(text === _CONTENT[_PART]) {
		// Hide the cursor
		_CURSOR.style.display = 'none';

		clearInterval(_INTERVAL_VAL);
		setTimeout(function() {
			_INTERVAL_VAL = setInterval(Delete, 50);
		}, 2000);
	}
}

// Implements deleting effect
function Delete() {
	// Get substring with 1 characater deleted
	var text =  _CONTENT[_PART].substring(0, _PART_INDEX - 1);
	_ELEMENT.innerHTML = text;
	_PART_INDEX--;

	// If sentence has been deleted then start to display the next sentence
	if(text === '') {
		clearInterval(_INTERVAL_VAL);

		// If current sentence was last then display the first one, else move to the next
		if(_PART == (_CONTENT.length - 1))
			_PART = 0;
		else
			_PART++;
		
		_PART_INDEX = 0;

		// Start to display the next sentence after some time
		setTimeout(function() {
			_CURSOR.style.display = 'inline-block';
			_INTERVAL_VAL = setInterval(Type, 100);
		}, 300);
	}
}

// Start the typing effect on load
_INTERVAL_VAL = setInterval(Type, 100);
</script>