<!--  Page for displaying Ossemble's features linked by the landing page  -->
<div id="features_page_content_container" class="content-fluid">
  <div class="content">
    <div class="tier"> 
      <div class="center col-d-11 col-t-11 col-p-12">
        <!-- Begin -  FEATURES HEADER -->
        <div class="center col-d-11 col-t-12 col-p-12">
          <div id="header_container" class="col-tier">
            <div class="col-tier">
              <p id="card_title" class="">
                Ossemble's Features
              </p>
            </div>
            <div id="card_container" class="col-tier">
              <div class="col-all-12 pb-5">
                <div class="col-tier">
                  <div id="image_container" class="col-d-7 col-t-6 col-p-12">
                    <%= image_tag "icons/landing/Innovate.png", alt: "Innovate", id: "innovate_features_image", class: "feat_inno_ms" %>
                  </div>
                  <div id="card_text_container" class="col-d-5 col-t-6 col-p-12">
                    <div class="col-tier">
                      <h3>
                        Project Managment... <i>With a Pulse</i> 
                      </h3>
                      <p>
                        Planning around residents requires a human element, our project management platform gives you the <u>pulse</u> of your people.          
                      </p>
                    </div>
                    <div class="col-tier">
                      <div id="try_btn_container" class="col-all-12">
                        <a class="button-cs" href="<%= new_admin_registration_path %>"><span>Try Now</span></a>
                     </div>
                    </div>
                  </div>
                </div>
              </div> 
            </div>
          </div>
        </div>
        <!-- End -  FEATURES HEADER -->
        <div class="center col-d-11 col-t-12 col-p-12">
          <div id="header_container" class="col-tier">
            <div class="col-tier">
              <p id="card_title" class="center-all">
                Two Sided Solution
              </p>
            </div>
            <div id="card_container" class="col-all-12" style="border: none !important;">
              <div id="carouselContent" class="carousel slide carousel-fade" data-ride="carousel" data-interval="false" style="width: 100% !important">
                <div class="carousel-inner mt-2" role="listbox">
                  <div class="carousel-item active pb-5">
                    <div class="col-tier">
                      <div class="p-3 col-d-4 col-t-6 col-p-12 center landingt-1">
                         <div id="card_text_container" class="graybg" style="height: 100% !important; border: 1px groove rgba(100, 84, 150, .3)">
                        <div class="mb-3">
                         <h3 class="pt-0 pb-3 theme_color_dark"  style="text-shadow: white 1px 1px 2px;">
                           Channels
                          </h3>
                        </div>
                        <div class="text-18" style="padding: 12px; text-shadow: white 1px 1px 4px; color: black">
                          Built around your team, we allow you to invite members of your department into a private workplace channel. Giving everyone an opportunity to collaborate and bring forth solutions.                       
                        </div>
                        <div class=" text-18 pt-0"  style="padding: 12px; text-shadow: white 1px 1px 4px; color: black">
                          With additional channels and public permissions, you can gather ideas from citizens, non-profits, builders, and other stakeholders.                     
                        </div>
                        </div>
                      </div>
                      <div id="image_container" class="col-d-7 col-t-6 col-p-12 pull-right p-3" style="padding-right: 0px !important;">
                        <%= image_tag "learnmore/sidepanel2.png", alt: "Icon", id: "innovate_features_image", class: "opacitypulse feat_gif_ms" %>
                       </div>
                       <div class="p-3 col-d-4 col-t-6 col-p-12 center landingt-2">
                         <div id="card_text_container" class="graybg" style="height: 100% !important; border: 1px groove rgba(100, 84, 150, .3)">
                        <div class="mb-3">
                         <h3 class="pt-0 pb-3 theme_color_dark"  style="text-shadow: white 1px 1px 2px;">
                           Channels
                          </h3>
                        </div>
                        <div class="text-18" style="padding: 12px; text-shadow: white 1px 1px 4px; color: black">
                          Built around your team, we allow you to invite members of your department into a private workplace channel. Giving everyone an opportunity to collaborate and bring forth solutions.                       
                        </div>
                        <div class=" text-18 pt-0"  style="padding: 12px; text-shadow: white 1px 1px 4px; color: black">
                          With additional channels and public permissions, you can gather ideas from citizens, non-profits, builders, and other stakeholders.                     
                        </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="carousel-item pb-5">
                    <div class="col-tier">
                      <div class="p-3 col-d-4 col-t-6 col-p-12 center landingt-1">
                         <div id="card_text_container" class="graybg" style="height: 100% !important; border: 1px groove rgba(100, 84, 150, .3)">
                        <div class="mb-3">
                         <h3 class="pt-0 pb-3 theme_color_dark"  style="text-shadow: white 1px 1px 2px;">
                           Interactive Map
                          </h3>
                        </div>
                        <div class="text-18" style="padding: 12px; text-shadow: white 1px 1px 4px; color: black">
                          Visualize conversations based around the uniqueness of your municipality. We offer maps tailored around the needs of your services.                    
                        </div>
                        <div class=" text-18 pt-0"  style="padding: 12px; text-shadow: white 1px 1px 4px; color: black">
                          Interacting with the maps is as easy as dropping a pin or highlighting neighborhoods that require special attention.                    
                        </div>
                        </div>
                      </div>
                      <div id="image_container" class="col-d-7 col-t-6 col-p-12 pull-right p-3" style="padding-right: 0px !important;">
                        <%= image_tag "learnmore/mappost.png", alt: "Icon", id: "innovate_features_image", class: "opacitypulse feat_gif_ms" %>
                       </div>
                       <div class="p-3 col-d-4 col-t-6 col-p-12 center landingt-2">
                         <div id="card_text_container" class="graybg" style="height: 100% !important; border: 1px groove rgba(100, 84, 150, .3)">
                        <div class="mb-3">
                         <h3 class="pt-0 pb-3 theme_color_dark"  style="text-shadow: white 1px 1px 2px;">
                           Interactive Map
                          </h3>
                        </div>
                        <div class="text-18" style="padding: 12px; text-shadow: white 1px 1px 4px; color: black">
                          Visualize conversations based around the uniqueness of your municipality. We offer maps tailored around the needs of your services.                    
                        </div>
                        <div class=" text-18 pt-0"  style="padding: 12px; text-shadow: white 1px 1px 4px; color: black">
                          Interacting with the maps is as easy as dropping a pin or highlighting neighborhoods that require special attention.                    
                        </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="carousel-item pb-5">
                    <div class="col-tier">
                      <div class="p-3 col-d-4 col-t-6 col-p-12 center landingt-1">
                         <div id="card_text_container" class="graybg" style="height: 100% !important; border: 1px groove rgba(100, 84, 150, .3)">
                        <div class="mb-3">
                         <h3 class="pt-0 pb-3 theme_color_dark"  style="text-shadow: white 1px 1px 2px;">
                           Feed
                          </h3>
                        </div>
                        <div class="text-18" style="padding: 12px; text-shadow: white 1px 1px 4px; color: black">
                          All post within your channel is shown on the workplace feeds. The most important post are shown based on activity such as voting and comments.                    
                        </div>
                        <div class=" text-18 pt-0"  style="padding: 12px; text-shadow: white 1px 1px 4px; color: black">
                          Our comment section has a long forum structure. Making conversations more in depth and insightful around complex solutions.                    
                        </div>
                        </div>
                      </div>
                      <div id="image_container" class="col-d-7 col-t-6 col-p-12 pull-right p-3" style="padding-right: 0px !important;">
                        <%= image_tag "learnmore/feedposts.png", alt: "Icon", id: "innovate_features_image", class: "opacitypulse feat_gif_ms" %>
                       </div>
                       <div class="p-3 col-d-4 col-t-6 col-p-12 center landingt-2">
                         <div id="card_text_container" class="graybg" style="height: 100% !important; border: 1px groove rgba(100, 84, 150, .3)">
                        <div class="mb-3">
                         <h3 class="pt-0 pb-3 theme_color_dark"  style="text-shadow: white 1px 1px 2px;">
                           Feed
                          </h3>
                        </div>
                        <div class="text-18" style="padding: 12px; text-shadow: white 1px 1px 4px; color: black">
                          All post within your channel is shown on the workplace feeds. The most important post are shown based on activity such as voting and comments.                    
                        </div>
                        <div class=" text-18 pt-0"  style="padding: 12px; text-shadow: white 1px 1px 4px; color: black">
                          Our comment section has a long forum structure. Making conversations more in depth and insightful around complex solutions.                    
                        </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                  <ol class="col-all-12 carousel-indicators mr-0 pull-right pb-5 ms_dots_hide" style="left: 59%;">
                    <li data-target="#carouselContent" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselContent" data-slide-to="1"></li>
                    <li data-target="#carouselContent" data-slide-to="2"></li>
                  </ol>
                  <a class="carousel-control-next" href="#carouselContent" role="button" data-slide="next">
                    <span aria-hidden="true"><i class="fas fa-angle-right theme_color_dark text-32 relative feat_arrow_ms" style="top: -197px;"></i></span>
                    <span class="sr-only">Next</span>
                  </a>
              </div>
            </div>
          </div>
        </div>
          
        <div class="center col-d-11 col-t-12 col-p-12">
          <div id="header_container" class="col-tier">
              <div class="col-tier">
                <p id="card_title" class="center-all">
                  Direct Communication
                </p>
              </div>
            <div id="card_container" class="col-all-12" style="border: none !important;">
              <div id="carouselContent2" class="carousel slide carousel-fade" data-ride="carousel" data-interval="false" style="width: 100% !important">
                <div class="carousel-inner mt-2" role="listbox">
                  <div class="carousel-item active pb-5">
                    <div class="col-tier">
                      <div class="p-3 col-d-4 col-t-6 col-p-12 center">
                         <div id="card_text_container" class="graybg" style="height: 100% !important; border: 1px groove rgba(100, 84, 150, .3)">
                        <div class="mb-3">
                         <h3 class="pt-0 pb-3 theme_color_dark"  style="text-shadow: white 1px 1px 2px;">
                           Directory
                          </h3>
                        </div>
                        <div class="text-18" style="padding: 12px; text-shadow: white 1px 1px 4px; color: black">
                          After members are invited to your channel, easily locate their contact information within the directory.                     
                        </div>
                        <div class=" text-18 pt-0"  style="padding: 12px; text-shadow: white 1px 1px 4px; color: black">
                          Log activity or notes to keep track of who you spoke with and the details of the conversations. These notes are saved into your own personal archive for later use                    
                        </div>
                        </div>
                      </div>
                      <div id="image_container" class="col-d-7 col-t-6 col-p-12 pull-right p-3 dc_pad_ms" style="padding-left: 0px">
                        <%= image_tag "learnmore/directory.png", alt: "Icon", id: "innovate_features_image", class: "directory_image opacitypulse feat_gif_ms" %>
                      </div>
                    </div>
                  </div>
                </div>
                  <ol class="col-all-12 carousel-indicators mr-0 pull-right pb-5 ms_dots_hide" style="left: 0%;">
                    <li data-target="#carouselContent2" data-slide-to="0" class="active"></li>
                  </ol>
              </div>
            </div>
          </div>
        </div>
          
        <div class="center col-d-11 col-t-12 col-p-12">
          <div id="header_container" class="col-tier">
              <div class="col-tier">
                <p id="card_title" class="center-all">
                  Knowledge Base
                </p>
              </div>
            <div id="card_container" class="col-all-12" style="border: none !important;">
              <div id="carouselContent3" class="carousel slide carousel-fade" data-ride="carousel" data-interval="false" style="width: 100% !important">
                <div class="carousel-inner mt-2" role="listbox">
                  <div class="carousel-item active pb-5">
                    <div class="col-tier">
                      <div class="p-3 col-d-4 col-t-6 col-p-12 center landingt-1">
                         <div id="card_text_container" class="graybg" style="height: 100% !important; border: 1px groove rgba(100, 84, 150, .3)">
                        <div class="mb-3">
                         <h3 class="pt-0 pb-3 theme_color_dark"  style="text-shadow: white 1px 1px 2px;">
                           Workplace Archives
                          </h3>
                        </div>
                        <div class="text-18" style="padding: 12px; text-shadow: white 1px 1px 4px; color: black">
                          Save posts, map drawings, or conversations within the workplace, to be viewed later or shared with other workplace members.
                        </div>
                        <div class=" text-18 pt-0"  style="padding: 12px; text-shadow: white 1px 1px 4px; color: black">
                          Build up your personal, secure, knowledge center in the cloud.                      
                        </div>
                        </div>
                      </div>
                      <div id="image_container" class="col-d-7 col-t-6 col-p-12 pull-right p-3" style="padding-right: 0px !important;">
                        <%= image_tag "learnmore/archives.png", alt: "Icon", id: "innovate_features_image", class: "opacitypulse feat_gif_ms" %>
                       </div>
                       <div class="p-3 col-d-4 col-t-6 col-p-12 center landingt-2">
                         <div id="card_text_container" class="graybg" style="height: 100% !important; border: 1px groove rgba(100, 84, 150, .3)">
                        <div class="mb-3">
                         <h3 class="pt-0 pb-3 theme_color_dark"  style="text-shadow: white 1px 1px 2px;">
                           Workplace Archives
                          </h3>
                        </div>
                        <div class="text-18" style="padding: 12px; text-shadow: white 1px 1px 4px; color: black">
                          Save posts, map drawings, or conversations within the workplace, to be viewed later or shared with other workplace members.
                        </div>
                        <div class=" text-18 pt-0"  style="padding: 12px; text-shadow: white 1px 1px 4px; color: black">
                          Build up your personal, secure, knowledge center in the cloud.                      
                        </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="carousel-item pb-5">
                    <div class="col-tier">
                      <div class="p-3 col-d-4 col-t-6 col-p-12 center landingt-1">
                         <div id="card_text_container" class="graybg" style="height: 100% !important; border: 1px groove rgba(100, 84, 150, .3)">
                        <div class="mb-3">
                         <h3 class="pt-0 pb-3 theme_color_dark"  style="text-shadow: white 1px 1px 2px;">
                           Uploads
                          </h3>
                        </div>
                        <div class="text-18" style="padding: 12px; text-shadow: white 1px 1px 4px; color: black">
                          The Archive and Uploads allow for:
                          <br> <span class="pb-3">- Sharing SOPs and Codes</span>     
                          <br> <span class="pb-3">- Passing & Sharing information</span>      
                          <br> <span class="pb-3">- Securely storing files in the cloud like PDFs, Documents, etc.</span>      
                          <br> <span>- Retirees can pass down their years of knowledge</span>                    
                        </div>
                        </div>
                      </div>
                      <div id="image_container" class="col-d-7 col-t-6 col-p-12 pull-right p-3" style="padding-right: 0px !important;">
                        <%= image_tag "learnmore/upload.png", alt: "Icon", id: "innovate_features_image", class: "opacitypulse feat_gif_ms" %>
                       </div>
                       <div class="p-3 col-d-4 col-t-6 col-p-12 center landingt-2">
                         <div id="card_text_container" class="graybg" style="height: 100% !important; border: 1px groove rgba(100, 84, 150, .3)">
                        <div class="mb-3">
                         <h3 class="pt-0 pb-3 theme_color_dark"  style="text-shadow: white 1px 1px 2px;">
                           Uploads
                          </h3>
                        </div>
                        <div class="text-18" style="padding: 12px; text-shadow: white 1px 1px 4px; color: black">
                          The Archive and Uploads allow for:
                          <br> <span class="pb-3">- Sharing SOPs and Codes</span>     
                          <br> <span class="pb-3">- Passing & Sharing information</span>      
                          <br> <span class="pb-3">- Securely storing files in the cloud like PDFs, Documents, etc.</span>      
                          <br> <span>- Retirees can pass down their years of knowledge</span>                    
                        </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <ol class="col-all-12 carousel-indicators mr-0 pull-right pb-5 ms_dots_hide" style="left: 59%;">
                  <li data-target="#carouselContent3" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselContent3" data-slide-to="1"></li>
                </ol>
                <a class="carousel-control-next" href="#carouselContent3" role="button" data-slide="next">
                  <span aria-hidden="true"><i class="fas fa-angle-right theme_color_dark text-32 relative feat_arrow_ms" style="top: -197px;"></i></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    var ml_webform_742238 = ml_account('webforms', '742238', 'l6h8p1', 'load');
    ml_webform_742238('animation', 'fadeIn');
</script>