<div class="push-left ml-3 sidetoggle">
  <a id="simple-menu" onclick="$('#sidr').removeClass('vanish')" href="#sidr"><i class="fas fa-bars theme_color_dark text-xxlarge"></i></a>
</div>
<div id="sidr" class="vanish">
  <!-- Your content -->
  <div class="my-3 px-3 text-xbig b roboto" style="color: rgba(88, 88, 88, .9)">
        <%= @user.city.name if @user %>
        <%= @city.name unless @user %> 
        Feeds
  </div>
  <ul>
    <li class="text-18">
      <%= link_to "Community Score", city_feed_path(@city), id: "cs_ms", class: " ml-0theme_color_dark", title: "Your city, your score", style: "opacity: 0.95" if @city %>
      <%= link_to "Community Score",  city_feed_path(current_user_or_admin.city), id: "cs_ms", class: "ml-0 theme_color_dark", title: "Your city, your score", style: "opacity: 0.95" unless @city %>
    </li>
    <li class="text-18">
      <%= link_to "Ossembly Forum", city_ossembly_path(@city), id: "ossembly_link", class: "theme_color_dark", title: "Your forum for local engagement", style: "opacity: 0.95" if @city %>
      <%= link_to "Ossembly Forum", city_feed_path(current_user_or_admin.city), id: "ossembly_link", class: "theme_color_dark", title: "Your forum for local engagement", style: "opacity: 0.95" unless @city %>
    </li>
    <!-- The Beacon Link Code <div>%= link_to "The Beacon", '#', id: "beacon_link", class: "nav-link theme_color_dark navbar_item_link px-3 margin-l-0", data: { confirm: "The Beacon feature is coming soon!"} unless is_guest_page? && is_guest? %></div> -->
  </ul>
  <div class="my-3 px-3 text-xbig b roboto" style="color: rgba(88, 88, 88, .9)">
    Profile
  </div>
  <ul>
  <li class= "">
    <%= link_to "<i class='fa fa-users margin-l-8 ms_t_panel_head' aria-hidden='true' style='margin-right: 9px'></i>Allies".html_safe, '#', data: { confirm: "Allies Feature Coming Soon!"}, class: "list-item" %> 
  </li>
  <li class= "">
     <%= link_to "<i class='fa fa-trophy margin-l-8 ms_t_panel_head' aria-hidden='true' style='margin-right: 11px'></i>Reputation".html_safe, '#', data: { confirm: "Reputation Feature Coming Soon!"}, class: "list-item" %> 
  </li>
  <li class= "">
    <%= link_to "<i class='fas fa-comments margin-l-8 ms_t_panel_head' aria-hidden='true' style='margin-right: 4px'></i> All Reviews".html_safe, '#', data: { confirm: "Review Feed Feature Coming Soon!"}, class: "list-item" %>
  </li>
   <li class= "">
    <%= link_to "<i class='fa fa-times margin-l-8 margin-r-10 ms_t_panel_head' aria-hidden='true'></i> All Complaints".html_safe, '#', data: { confirm: "Complaint Feed Feature Coming Soon!"}, class: "list-item" %>
  </li>
  <li class= "">
    <%= link_to "<i class='far fa-edit margin-l-8 ms_t_panel_head' aria-hidden='true' style='margin-right: 4px'></i> Update Profile".html_safe, edit_user_registration_path(@user), class: "list-item" %>
  </li>
  <li class= "">
    <%= link_to "<i class='fa fa-unlock-alt margin-l-8 ms_t_panel_head' aria-hidden='true' style='margin-right: 13px'></i> Password Reset".html_safe, new_user_password_path(@user), class: "list-item" %>
  </li>
  <li class= "">
    <%= link_to "<i class='fas fa-exclamation-circle margin-l-8 ms_t_panel_head' aria-hidden='true' style='margin-right: 7px'></i> Notifications".html_safe, "#", data: { confirm: "Notifications Feature Coming Soon!"}, class: "list-item" if current_user %>
  </li>
  </ul>
</div>






<script>
  $('#simple-menu').sidr();
  $("#simple-menu").onClick(function(){
    $("#sidr").removeClass("vanish");
  });

</script>