<!--  Main Edit Page for Individual Complaints in order to display additional information of the specific complaint. (views/complaints/show.html.erb) -->
<div class="content">
  <div class="col-all-12 center">
  <!-- Begin - Container Wrapper page for two columned rows, one left side form, other right side map. -->
    <div class="trending_font_size mt-3 mb-0 ms_titles_ml">
      Update - <%= @city.name %> Complaint
    </div>
    <div class="theme_color_black text-medium mb-3 col-tier">
      <div id="complaint-modal" class="">
        <p id="show-modal" class="mb-0 mt-0 pointer underline ms_titles_ml" @click="showModal = true">Complaint Guidelines</p>
        <!-- use the modal component, pass in the prop -->
        <modal v-if="showModal" @close="showModal = false">
        </modal>
      </div>
    </div>
    <div id="edit_complaint_form" class="content">
      <div class="tier bg-white light-box-shadow p-4" style="border: 1px solid rgba(128, 128, 128, .5);"> 
        <div class="col-all-12 disvanish">
          <!-- Below - Renders errors from the new complaint page due to validation errors. Error messages inside views/layouts/_errors.html.erb -->
          <div class="col-all-10 center">
            <%= render 'layouts/errors', obj: @complaint %>
          </div>
          <!-- Begin - Rendering for the Map with Complaint having already existed.  -->
          <div class="ms_map_size form-row float-right col-d-6 col-t-12 col-p-12 mb-4 card well bg-white center no-border no-padding no-border-radius">
            <div class="form-group">
              <div id="oss_map" class="oss_map ms_map relative" style="border: 1px solid rgba(88, 88, 88, .4)">
                <%= render 'complaint_map', obj: @complaint %>
              </div>
            </div>
          </div>  <!-- End -  Rendering for the Map.  -->
          <!-- Begin - Edit  Form for Complaint -->
          <%= simple_form_for @complaint, url: user_complaint_path, as: 'complaint', html: { :multipart => true, class: 'form-horizontal float-left col-d-6 col-t-12 col-p-12' } do |f| %>
            <!-- Below - Hidden field tags for storing the latitude, longitude of the pin on submit. -->
            <%= hidden_field_tag 'complaint[latitude]', '', id: 'latitude' %>
            <!-- Below - Hidden field tags for storing the latitude, longitude of the pin on submit. -->
            <%= hidden_field_tag 'complaint[longitude]', '', id: 'longitude' %>
            <!-- Below - Editing Address -->
            <div class="form-row field margin-t-15">
              <div class="form-group col-d-11 col-t-11 col-p-12 center"> 
                <%= f.label :address, "Location or Address", class: 'pull-left' %>
                <%= f.text_field :address, maxlength: 40, title: "Where is this complaint?", placeholder: 'Enter exact address, road, or nearby landmarks', class: "form-control input-box-shadow" %>
              </div>
            </div>
            <!-- Below -  Editing complaint category -->
            <div class="form-row field">
              <div class="form-group col-d-11 col-t-11 col-p-12 center margin-t-20"> 
                <%= f.label :complaint_category_id, "Current Complaint Category:", class: 'pull-left margin-r-10'  %>
                <p class="underline bold margin-l-10 text-xxmedium mt-1 mb-0"><%= @complaint.complaint_category.category %></p>
              </div>
            </div>
            <!-- Below -  Editing title -->
            <div class="form-row field">
              <div id="title_input" class="form-group col-d-11 col-t-10 col-p-11 center margin-t-20"> 
                <%= f.label :title, "Title of Complaint", class: 'pull-left'  %>
                <%= f.text_field :title, maxlength: 60, title: "Enter a succinct title for this complaint. In a few words, what is the issue?", placeholder: "Title of the complaint (E.G: Busted stop sign)", class: "form-control input-box-shadow", disabled: true unless @complaint.complaint_category.category == "Other" %>
                <%= f.text_field :title, maxlength: 60, title: "Enter a succinct title for this complaint. In a few words, what is the issue?", placeholder: "Title of the complaint (E.G: Busted stop sign)", class: "form-control input-box-shadow", disabled: false if @complaint.complaint_category.category == "Other" %>
              </div>
            </div>
            
            <div class="loading" style="display:none; z-index: 15000">
             <div class="center-all" style="border-radius: 10px !important">
               <%= image_tag "icons/misc/loading.gif", alt: "Uploading", class: "", style: "width: 300px" %>
             <div class="theme_color_dark mb-5 px-4">Please wait while your image uploads...</div>
             </div>
            </div>
             <%= simple_format(@complaint.description, {}, wrapper_tag: "div id='edit_text_wrap' class='vanish'") %>
            <!-- Below - Editing Description -->
            <div class="col-tier center">
              <div class="form-group col-d-11 col-t-11 col-p-12 center margin-y-10"> 
               <%= f.label :description, class: 'theme_color_black text-xxmedium mt-3' %>
               <%= f.hidden_field :description, id: "post_description", required: true %>
                <div id="editor-container" class="light-box-shadow" hidden="true"></div>
                <div id="quill_container"  style="height: 250px !important;"></div>
              </div>
            </div>
            <!-- Begin - Edit complaint image upload row -->
            <div class="form-row field">
              <div class="form-group col-d-11 col-t-11 col-p-12 center margin-y-10"> 
                <% if @complaint.image.attached? %> <!--  Complaint already has an image. -->
                  <div id="">
                    <div class="m-2">
                      <%= image_tag @complaint.image.variant(resize: '400x400'), id: "uploaded_image", class: "m-0" %>
                    </div>
                  </div>
                  <div class="tier">
                     <%= f.label :image, "Update Current Image".html_safe, class: "pull-left control-label" %>
                  </div>
                  <div class="tier">
                    <%= f.file_field :image, accept: 'image/*', class: "upload btn btn-info margin-y-5 light-btn-shadow", style: "width: 220px", onchange: "readURL(this);" %>
                  </div>
                  <div class="tier">
                    <%= f.label :image, "Preview of Uploaded Image".html_safe, class: "vanish img_prev_title pull-left control-label mb-2" %>
                  </div>
                  <div class="tier">
                    <img id="img_prev" class="vanish" src="#" alt="Image">
                  </div>

                  <p class="margin-t-5 small">If you'd like to change your complaint's image, select a new image by clicking Choose File and then Update.</p>
                <% else %> <!-- Complaint doesn't have image -->
                  <div class="tier">
                    <%= f.label :image, "<i class='fas fa-file-image margin-r-8'></i>Upload Complaint Image <small> (optional - but encouraged) </small>".html_safe, class: "pull-left control-label" %>
                  </div>
                  <div class="tier">
                    <%= f.file_field :image, accept: 'image/*', class: "upload btn btn-info margin-y-5 light-btn-shadow", style: "width: 220px", onchange: "readURL(this);" %>
                  </div>
                  <div class="tier">
                    <%= f.label :image, "Preview of Uploaded Image".html_safe, class: "vanish img_prev_title pull-left control-label mb-2" %>
                  </div>
                  <div class="tier">
                    <img id="img_prev" class="vanish" src="#" alt="Image">
                  </div>
                  <p class="margin-t-5 mb-2 text-13">Please upload an image that clearly illustrates the complaint you are voicing.</p>
                  <p class="margin-t-5 small">If the image you're uploading is high resolution, it may take a few moments.</p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <!-- Below - Edit Update Button and delete complaint -->
        <div class="form-actions">
          <div class="tier mt-3 mb-5">
            <div class="col-all-6"> 
              <%= f.submit "Update Complaint", class: "form_btn btn action pull-left light-btn-shadow", id: "loadgif" %>
            </div>
            <div class="col-all-6"> 
              <%= link_to "Delete Complaint", user_complaint_path(@user, @complaint), method: :delete, class: "text-big form_btn btn btn-danger push-right light-btn-shadow", data: {confirm: "Are you sure you want to delete this complaint?"} %>
            </div>
          </div>
        </div>
      <% end %> <!-- End - Simple-Form Form field on physical page, not on map. -->
      <!-- End - Edit complaint image upload row -->
      </div><!-- End - Container Wrapper page for two columned rows, one left side form, other right side map. -->
 </div>
</div>


<script>
function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    $("#img_prev").show();
    $(".img_prev_title").show();
    $("#complaint_image");
    reader.onload = function (e) {
      $('#img_prev')
        .attr('src', e.target.result)
    };

    reader.readAsDataURL(input.files[0]);
  }
}
</script>
<script>
// register modal component
Vue.component('modal', {
  template: '#modal-template'
})

// start app
new Vue({
  el: '#complaint-modal',
  data: {
    showModal: false
  }
})
</script>
<!-- Below -  VUE JS Code for Complaint Guidelines -->
<script type="text/x-template" id="modal-template">
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-body">
          <slot name="body">
            <div class="content">
              <div class="col-all-10 center">
                <div id="page_info_card_org" class="col-tier">
                  <div id="page_info_card" class="col-all-12">
                    <div class="col-all-12 light-box-shadow card" style="border: 1px solid rgba(128, 128, 128, .5); border-radius: 10px;">
                      <div class="card-body theme_color_black p-4" style="">
                        <div class="col-all-12 pull-left">
                          <h3 class="mt-0 mb-2 ms_page_title">Complaint Guidelines</h3> 
                          <p class="text-medium i">Please follow these posting guidelines to ensure your complaint is valid and able to be posted.</p> 
                          <section class="b">Please fill out all required fields below</section>
                          <ul> 
                            <li><b>Location or Address</b> - You may use the exact address of a complaint if it is known, or an approximate location near the complaint.</li>  
                            <li><b>Complaint Category</b> - Using the dropdown, select the type of complaint. A predetermined deadline will be added for you. You may also select Other and enter your own deadline along with a title fitting the complaint.</li>  
                            <li><b>Description</b> - Please write a short description describing the complaint, enough so others can clearly understand what your complaint is about.</li>
                            <li><b>Map</b> - Clicking on the map will generate a pin that will be shown when your complaint is listed. You may click on the precise location of the complaint or an approximate location near the comaplaint, if the exact location is unknown.</li>
                          </ul>   
                          <p class="text-medium pb-3 border-bottom">Following these steps will ensure your complaint is filed properly and increases the odds of others endorsing it.</p>
                          <h3 class="mt-3 mb-2 ms_page_title bold">When editing a complaint:</h3> 
                          <section class="b">Please edit the location, description, and map marker if you'd like to update your complaint with more accurate information.</section>  
                          <p class="text-medium mb-2">Since Ossemble's Complaint Process is extremely in depth, if you need to change the complaint category or deadline, please delete this complaint and create a new one. We apologize for the inconvience.</p>
                          <button class="btn btn-info modal-default-button text-xxmedium" @click="$emit('close')">
                            Close
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> 
            </slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</script>

<script>

    var form = document.querySelector('.form-horizontal');
    var quill = new Quill('#quill_container', {
    modules: {
      toolbar: [
        ['bold', 'italic', 'link'],
        [{ list: 'ordered' }, { list: 'bullet' }]
      ]
    },
    placeholder: 'Describe the complaint you would like to file (Limit: 5,000 Characters).',
    theme: 'snow'  // or 'bubble'
  });
  
  
  form.onsubmit = function() {
    var postContentInput = document.querySelector('#post_description');
    postContentInput.value = quill.root.innerHTML;
  };
  
  // Below - Sets up a variable from the simple format rendering about on edit post
  var editDescription = $('#edit_text_wrap').text();
$('.ql-editor p').text(editDescription);
  // Below - Shuffles in text from a failed resource submission's description
  var newDescription = $('#new_text_wrap').text();
  $('.ql-editor p').text(newDescription);

</script>

<script>
 $( document ).ready(function() {
    $("#complaint_latitude").attr("value", <%= @complaint.latitude %>);
    $("#complaint_longitude").attr("value", <%= @complaint.longitude %>);
    event.originalEvent.stopPropagation();
});
</script>
