<!-- Community Score Homepage for each City to display Departments, WUL, and Complaints as a feed. (views/community_scores/community_score.html.erb)
  Renders off into Departments/Departments_list.html.erb Partial for listing departments. Complaints to _complaints_list.html.erb partial. And WUL to _reviews_list.html.erb partial -->

<!-- Begin - Main content for community score page. -->
<div class="content">
  <div class="tier"> <!-- Begin - Main tier for page. -->
    <!-- Below -  Renders in the accordian from views/layouts/phones/... for mobile and tablet. -->
    <%= render "layouts/phones/mobile_accordion" %>
    <div class="center col-d-7 col-t-11 col-p-12">
    <!-- Begin - Community Score Page Info -->
      <div id="page_info_card_org" class="col-all-12">
        <div id="page_info_card" class="margin-b-15">
          <div class="tier">
            <div class="col-all-12">
              <p class="page_info_title">
                Community Score Feed
              </p>
            </div>
            <div class="col-all-12 light-box-shadow card" style="border: 1px solid rgba(128, 128, 128, .5)">
              <div class="card-body theme_color_black" >
                <div class="col-d-9 col-t-12 col-p-12 pull-left">
                 <p class="text-big" style="font-family: Roboto;"><i>Showcases all of the top trending scores that make up your Community Score.</i></p> 
                 <section class="text-xmedium">The Score is broken down by three Categories</section>
                 <ul class="bold">
                  <li>City Reviews - What You Love</li> 
                  <li>Reports & Suggestions</li>
                  <li>Department Reviews</li>
                   <li>Petitions</li>  
                 </ul>   
              </div>
              <div class="page_info_icon_hide col-all-3 pull-right center-all pl-3 theme_color_dark page_info_icon" style="height: 130px;">
                <%= image_tag "icons/percent2.svg", alt: "Icon", class: "mb-0", style: "width: 120px; position: relative; top: -30px" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<!-- End- Community Score Page Info -->
      <div class="tier">
        <div class="col-tier padding-b-10">
            <!-- Below -  Renders in search bar for community score pages -->
            <p class="trending_list_title margin-b-0 pr-3 relative" style="top: 6px">
              Trending Scores This Week
            </p>
          <!-- Below - Search Bar 
          Commented Out for now until we incorporate it later.
            <div class="p-0 input_search">
              %= render 'searches/community_search' %>
            </div>
          -->
          <%= render 'filters/feed_filter', obj: @community_score %>
        </div>
        <!-- Begin - Rendering of trending week complaints, WUL, and Departments -->
        <div class="col-tier">
          <div class="col-all-12">
            <!-- Below - Rending of trending complaint by week -->
            <%= render 'complaints/complaints_list', obj: @trending_week_complaints %>
          </div>
        </div>
        <div class="col-tier">
          <div class="col-all-12">
            <!-- Below - Rending of trending department by week -->
            <%= render 'department_reviews/reviews_list', obj: @trending_week_departments %>
          </div>
        </div>
        <div class="col-tier">
          <div class="col-all-12">
            <!-- Below - Rending of trending city review by week -->
            <%= render 'city_reviews/reviews_list', obj: @trending_week_city_reviews %>
          </div>
        </div>
      <!-- End - Rendering of trending week complaints, WUL, and Departments -->
      </div>
      <!-- Begin -  Rendering of trending CS resources from a month -->
      <div class="tier">
        <div class="col-all-12 text-left">
          <p class="trending_list_title">
            <%= "Trending Scores Previous Weeks" unless @trending_month_city_reviews.empty? && @trending_month_complaints.empty? && @trending_month_departments.empty? %>
          </p>
        </div>
        <div class="col-tier">
          <div class="col-all-12">
            <!-- Below - Rending of trending complaint by month. -->
            <%= render 'complaints/complaints_list', obj: @trending_month_complaints unless @trending_month_complaints.empty? %>
          </div>
        </div>
        <div class="col-tier">
          <div class="col-all-12">
            <!-- Below - Rending of trending department by month. -->
            <%= render 'department_reviews/reviews_list', obj: @trending_month_departments unless @trending_month_departments.empty? %>
          </div>
        </div>
        <div class="col-tier">
          <div class="col-all-12">
            <!-- Below - Rending of trending city review by month. -->
            <%= render 'city_reviews/reviews_list', obj: @trending_month_city_reviews unless @trending_month_city_reviews.empty? %>
          </div>
        </div>
      <!-- End -  Rendering of trending CS resources from a month -->
      </div>
    </div>
    <div id="non_ms_ap_content" class="col-d-3 col-t-10" >
      <%= render 'layouts/action_panel', obj: @community_score %>
    </div>
  </div> <!-- Main page tier -->
</div>