<!--  List partial for rendering resources from workplaces and admins (views/admins/admin_layouts/_workplace_resources_list.html.erb)
-->

<div id="resource_list" class="col-tier">
  <!-- Below - Renders in a message to create content if there are no resources to show yet. -->
  <% if obj.empty? %>
    <h3 class="center-all light-box-shadow padding-all-15 mt-0  bg-white">
       No Workplace Activity to show yet. Click the Post button above to contribute now.
    </h3> 
  <% else %>
    <!-- Below - Renders in each complaint for a city. -->
    <% obj.each do |resource| %> 
      <div id="list_card_container">
        <div class="col-tier">
          <!-- Begin -  CONTENT TIER: Picture, user info, resource info, description, tags, etc. -->
          <div id="image_container" class="col-d-2 col-t-3 col-p-10 transparent">
            <!-- Below -  Renders the resources image, if one is attached or the default icon image if one isn't. -->
            <%= display_workplace_image(resource) %>
          </div>
          <div id="content_container" class="col-d-10 col-t-9 col-p-12">
            <div id="resource_info_container" class="col-all-12">
              <a id="list_title" class="tier" href="<%= list_show_link(resource) %>">
                <!-- Below -  Renders the resource's title and if complaint the address as well. -->
                <%= display_list_title(resource) %>
              </a>
              <div id="avatar_name" class="tier">
                <!-- Below -  Renders the resource's owner's avatar -->
                <%= display_small_city_avatar(resource.admin) %>
                <!-- Below -  Renders the resource's owner's name and whether they're a non resident -->
                <span class="margin-l-8 pt-2"><%= display_workplace_user_name(resource)   %></span>
              </div>
              <div id="time_score" class="tier">
                <!-- Below -  Displays date the resource was posted and if a score is attached, that as well. -->
                <%= "Posted: #{display_date_in_numbers(resource.created_at)}".html_safe %>
                <!-- Below -  Calls helper from Reviews_helper.rb file to display icon whether the review is scorable or not due to the fact it's a non-resident review -->
              </div>
            </div> 
            <div id="list_tag_tier" class="col-all-12 tier">
              <!-- Below - Renders the link for the topic of the filter, like Complaint, Peititon or for posts', the name of the topic associated, etc...  -->
              <%= display_list_topic_tag_link(resource) %>
              <!-- Below -  Renders the  subtopic link for the filter, like category for department review, city review love or improve and for Posts the subtopic of the post, etc..-->
              <%= display_list_subtopic_tag_link(resource) %>
            </div>
            <!-- Begin - DESCRIPTION: Description row -->
            <div id="list_description_container" class="col-all-12">
              <!-- Below -  Displays resource description or goal is petition, wrapped in an a tag with the link to its show page. -->
              <%= display_list_description(resource) %>
            </div>
            <!-- End -  DESCRIPTION: -->
          </div>
        </div> <!-- End - CONTENT TIER: -->
       <!-- Begin -  ACTION TIER: Endorse, Share, Comments and endorsements Row -->
        
        <div id="list_action_container" class="col-tier">
            <!-- Below -  Renders in the endorse button for list from lists_helper.rb -->
          <div id="endorse_container" class="col-d-2 col-t-3 col-p-4"> 
            <%= display_upvote_button(resource, provide_workplace_upvote_link(resource)) %>
          </div>
          
          <a id="vote_container" class="col-d-3 col-t-4 col-p-4" href="<%= workplace_show_link(resource) %>">
            <%= display_vote_count(resource) %> <!-- Displays endorsements count  -->
          </a>
          <a id="comment_container" class="col-d-3 col-t-4 col-p-4" href="<%= workplace_show_link(resource) %>">
            <%= display_comment_count(resource) %> <!--  Displays comments count -->
          </a>
        </div>  <!-- End - ACTION TIER: Share, Comments and endorsements row -->
      </div>
    <% end %>
  <% end %>
</div>
