// Triggered when a comment is created through AJAX. Rendered from controller.
// Below - Adds JS effects for creation of a new comment, Flash alerts, and animation. 

<% if @comment.commentable_type != "Comment" %> // The comment is not a reply
  $('.comment_placeholder').delay(1000).slideDown("slow", "swing");
  $('.comment_placeholder').append("<%= j render @comment %>");
  $('.comment_placeholder').delay(250).effect('highlight', 3000, 2000);
  $('#comment_description').val('');
  $('#comments_ul').prepend("<li class='comment_placeholder_<%= @comment.id %> vanish'></li>");   
  $('#comment_flash').slideDown("slow", "swing");
  $('#comments_ul').prepend('<div id="comment_flash_<%= @comment.id %>" class="vanish panel panel-success light-box-shadow col-all-12" style="height: 3.5rem"><div class="col-tier margin-t-5"><p class="text-success bold center-all text-xxmedium no-margin col-all-12">Your comment has posted!</p></div></div>')
  $('#comment_flash').delay(2000).slideUp("slow", "swing");
  $('.reply_description').removeAttr('disabled');
  $('#reply_post_btn').removeAttr('disabled');
  $('#reply_post_btn').removeAttr('data-confirm');
<% else %> // The comment is a reply
  var reply_placeholder =  $('.reply_placeholder_<%= @comment.commentable_id %>');
  $(reply_placeholder).append("<%= j render @comment %>");
  $(reply_placeholder).slideDown("slow", "swing");
  var current_reply = $('li[name="<%= @comment.id %>"]');
  $(current_reply).effect('highlight', 3000, 2500);
  $('.reply_description').val('');
  //var reply_flash = $('.reply_flash_<%= @comment.id %>');
  //$(reply_flash).slideDown(1500, "swing");
  //$(reply_flash).prepend('<div class="reply_flash_<%= @comment.id %> vanish panel panel-success light-box-shadow col-all-12" style="height: 3.5rem"><div class="col-tier margin-t-5"><p class="text-success bold center-all text-xxmedium no-margin col-all-12">Your comment has posted!</p></div></div>')
  //$(reply_flash).delay(1500).slideUp(1500, "swing");
  //$('.reply_form_<%= @comment.commentable.id %>').slideUp("slow", "swing");
  <% parent_comment = @comment.commentable %>
  var parent_comment_reply_count = $('#reply_count_<%= @comment.commentable.id %>');
  $(parent_comment_reply_count).text("<%= parent_comment.count_replies %>").effect('highlight',{}, 1000);
  <% parent_comment = @comment.commentable %>
  var parent_comment_singular = $('#singular_reply_<%= @comment.commentable.id %>');
  var parent_comment_plural = $('#plural_reply_<%= @comment.commentable.id %>');
  $(parent_comment_reply_count).text("<%= parent_comment.count_replies %>").effect('highlight',{}, 1000);
  <% if parent_comment.count_replies == 1 %>
  $(parent_comment_singular).text("Reply").effect('highlight',{}, 1500);
  $(parent_comment_plural).text("Reply").effect('highlight',{}, 1500);
  <% else %>
  $(parent_comment_singular).text("Replies").effect('highlight',{}, 1500);
  $(parent_comment_plural).text("Replies").effect('highlight',{}, 1500);
  <% end %>
  $('.reply_form_<%= @comment.commentable.id %>').slideUp("slow", "swing");
  $('.reply_dropdown_<%= @comment.commentable.id %>').delay(1500).slideDown("slow", "swing");
  $('.reply_description').removeAttr('disabled');
  $('#reply_post_btn').removeAttr('disabled');
  $('#reply_post_btn').removeAttr('data-confirm');
<% end %>
