<!-- Main Page for creating a new Concern for a city (views/concerns/new.html.erb). -->
<div class="content">
  <div class="col-all-12 center">
    <%= simple_format(@concern.description, {}, wrapper_tag: "div id='new_text_wrap' class='vanish'") %>
      <div class="theme_color_black text-medium mb-3 col-tier">      
        <div class="col-all-12">
          <p class="mb-0 page_info_title">
            Voice a Suggestion - <%= @city.name %>
          </p>
        </div>
        <div id="concern-modal" class="col-all-12">
          <p id="show-modal" class="mb-0 mt-0 underline ms_titles_ml"><span class="pointer" @click="showModal = true">Suggestion Guidelines</span></p>
          <!-- use the modal component, pass in the prop -->
          <modal v-if="showModal" @close="showModal = false">
          </modal>
        </div>
      </div>
      <div id="new_concern_form" class="content">
        <div class="col-tier">
          <button id="select-suggestion" class="btn tab-btn2 col-all-6"><i class='fas fa-lightbulb mr-3'></i>Suggestion</button>
          <%= link_to "<i class='fas fa-flag mr-3'></i>Report".html_safe, new_city_complaint_path(@city), id: " " , class: " btn tab-btn col-all-6", title: "Post a new report of the city." %>
        </div>
        <div class="tier bg-white p-4 mb-3" style="border: 1px solid rgba(128, 128, 128, .5);">
          <div class="col-all-12" style="display: block !important">
            <!-- Below - Renders errors from the new concern page due to validation errors. Error messages inside views/layouts/_errors.html.erb -->
            <div class="col-all-10 center">
              <%= render 'layouts/errors', obj: @concern %>
            </div>
            <div class="ms_map_size form-row float-right col-d-6 col-t-12 col-p-12 mb-4 card  center bg-white border-radius-none border-none padding-b-0 padding-all-0">
              <div class="center-all bold text-xmedium mb-2">
                Pin the Concern's Location Below
              </div>
              <div class="form-group">
                <div id="oss_map" class="oss_map ms_map relative light-box-shadow" style="border: 1px solid rgba(88, 88, 88, .4); z-index: 500 !important;">
                  <%= render 'complaints/complaint_map', obj: @city %>
                </div>
              </div>
            </div>  <!-- End -  Rendering for the Map.  -->
          <!-- Begin -  Form for new Concern -->
          <%= simple_form_for @concern, url: create_city_concern_path, as: 'concern', html: { class: 'form-horizontal float-left col-d-6 col-t-12 col-p-12' } do |f| %>
            <!-- Below - Hidden field tags for storing the latitude, longitude of the pin on submit. -->
            <%= hidden_field_tag 'concern[latitude]', '', id: 'latitude' %>
            <%= hidden_field_tag 'concern[longitude]', '', id: 'longitude' %>
            <%= hidden_field_tag 'concern[category]', 'Suggestion', id: 'concern_category' %>
            <!-- Begin - Shows Title if Other is selected. Determined from jQuery on Concerns/new.  -->
            <div class="col-tier center">
              <div id="" class="col-d-11 col-t-11 col-p-12 margin-b-20"> 
                <%= f.label :title, "Title of Suggestion", class: 'pull-left'  %>
                <%= f.text_field :title, maxlength: 70, title: "Enter a succinct title for this suggestion. In a few words, what is the issue? (Limit: 70 Characters)", placeholder: "Title of the suggestion (E.G: Stop sign needed) (Limit: 70 Characters)", class: "form-control input-box-shadow" %>
              </div>
            </div>
            <!-- End - Shows TItle if Other is selected. Determined from jQuery on Concerns/new -->
            
            <!-- Below - Creating a new concern address -->
            <div class="col-tier center mt-5">
              <div class="col-d-11 col-t-11 col-p-12"> 
                <%= f.label :address, "Location or Address", class: 'pull-left' %>
                <%= f.text_field :address, maxlength: 50, title: "Where in #{ current_city } is your suggestion located? Exact address, nearby landmarks, location, road, or where it can be found. Minimum: 5 Characters, Limit: 50 Characters.", placeholder: 'Enter exact address, road, or nearby landmarks', class: "form-control input-box-shadow" %>
              </div>
            </div>
                          
            <!-- End - Shows deadline and title row field if "Other" is selected above as Category ID.-->

            <div class="loading" style="display:none; z-index: 15000">
             <div class="center-all" style="border-radius: 10px !important">
               <%= image_tag "icons/misc/loading.gif", alt: "Uploading", class: "", style: "width: 300px" %>
             <div class="theme_color_dark mb-5 px-4">Please wait while your image uploads...</div>
             </div>
            </div>
            
            <!-- Begin - New concern description row -->
              <div class="col-tier center">
                <div class="col-d-11 col-t-11 col-p-12 margin-y-10"> 
                 <%= f.label :description, class: 'theme_color_black text-xxmedium mt-3' %>
                 <%= f.hidden_field :description, id: "post_description", required: true %>
                  <div id="editor-container" class="light-box-shadow" hidden="true"></div>
                  <div id="quill_container"  style="height: 250px !important;"></div>
                </div>
              </div>
            <!-- End - New concern description row -->
            <!-- Begin - New concern image upload row -->
              <div id="concern_pic" class="col-tier center">
                <div class="col-d-11 col-t-11 col-p-12 margin-y-10"> 
                  <div class="tier">
                    <%= f.label :image, "Upload Suggestion Image <small> (optional - but encouraged) </small>".html_safe, class: "pull-left control-label" %>
                  </div>
                  <div class="tier">
                    <%= f.file_field :image, accept: 'image/*', class: "upload btn btn-info margin-y-5 light-btn-shadow", style: "width: 220px", onchange: "readURL(this);" %>
                  </div>
                  <div class="tier">
                    <%= f.label :image, "Preview of Uploaded Image".html_safe, class: " vanish img_prev_title pull-left control-label mb-2" %>
                  </div>
                  <div class="tier">
                    <img id="img_prev" class="vanish" style="" src="#" alt="Image">
                  </div>
                  <p class="margin-t-5 mb-2 text-13">Please upload an image that clearly illustrates the suggestion you are voicing.</p>
                  <p class="margin-t-5 small">If the image you're uploading is high resolution, it may take a few moments.</p>
                </div>
              </div>
              </div> <!-- End - Main tier for Concern New -->
            </div> 
            <!-- End - New concern image upload row -->
            <!-- Begin - Submit new concern row -->
            <div class="form-row field mt-4" style="margin-left: 0.5px">
              <div class="form-group"> 
                <%= f.submit "Voice Suggestion", id: "loadgif", class: "form_btn pull-left btn action text-xxmedium light-btn-shadow", onclick: "amplitude.getInstance().logEvent('Concern Voiced');" %>
              </div>
            </div>
            <!-- End - Submit new concern row -->
          <% end %> <!-- End - Simple-Form Form field on physical page, not on map. -->
  </div>
</div>


<script>
function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    $("#img_prev").show();
    $(".img_prev_title").show();
    $("#concern_image");
    reader.onload = function (e) {
      $('#img_prev')
        .attr('src', e.target.result)
    };

    reader.readAsDataURL(input.files[0]);
  }
}
</script>
<script>
// register modal component
Vue.component('modal', {
  template: '#modal-template'
})

// start app
new Vue({
  el: '#concern-modal',
  data: {
    showModal: false
  }
})
</script>
<!-- Below -  VUE JS Code for Concern Guidelines -->
<script type="text/x-template" id="modal-template">
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-body">
          <slot name="body">
            <div class="content">
              <div class="col-all-10 center">
                <div id="page_info_card_org" class="col-tier">
                  <div id="page_info_card" class="col-all-12">
                    <div class="col-all-12 light-box-shadow card" style="border: 1px solid rgba(128, 128, 128, .5); border-radius: 10px;">
                      <div class="card-body theme_color_black p-4" style="">
                        <div class="col-all-12 pull-left">
                          <h3 class="mt-0 mb-2 ms_page_title">Suggestion Guidelines</h3> 
                          <p class="text-medium i">Please follow these posting guidelines to ensure your suggestion is valid and able to be posted.</p> 
                          <section class="b">Please fill out all required fields below</section>
                          <ul> 
                            <li><b>Location or Address</b> - You may use the exact address of a suggestion if it is known, or an approximate location near the suggestion.</li>  
                            <li><b>Description</b> - Please write a short description describing the suggestion, enough so others can clearly understand what your suggestion is about.</li>
                            <li><b>Map</b> - Clicking on the map will generate a pin that will be shown when your suggestion is listed. You may click on the precise location of the suggestion or an approximate location near the suggestion, if the exact location is unknown.</li>
                          </ul>   
                          <p class="text-medium pb-3 border-bottom">Following these steps will ensure your suggestion is filed properly and increases the odds of others endorsing it.</p>
                          <h3 class="mt-3 mb-2 ms_page_title bold">When editing a Suggestion:</h3> 
                          <section class="b mb-3">Please edit the location, description, and map marker if you'd like to update your suggestion with more accurate information.</section>  
                          <button class="btn btn-info modal-default-button text-xxmedium pull-right" @click="$emit('close')">
                            Close
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> 
            </slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</script>

<script>

    var form = document.querySelector('.form-horizontal');
    var quill = new Quill('#quill_container', {
    modules: {
      toolbar: [
        ['bold', 'italic', 'link'],
        [{ list: 'ordered' }, { list: 'bullet' }]
      ]
    },
    placeholder: "The description of your suggestion, explaining what the suggestion is, where it's at, what should be done, and your experience with it. Minimum: 50 Characters, Limit: 6,000 Characters (about 900 words).",
    theme: 'snow'  // or 'bubble'
  });
  
  
  form.onsubmit = function() {
    var postContentInput = document.querySelector('#post_description');
    postContentInput.value = quill.root.innerHTML;
  };
  
  // Below - Sets up a variable from the simple format rendering about on edit post
  var editDescription = $('#edit_text_wrap').text();
$('.ql-editor p').text(editDescription);
  // Below - Shuffles in text from a failed resource submission's description
  var newDescription = $('#new_text_wrap').text();
  $('.ql-editor p').text(newDescription);

</script>
 
<script>
//Code to swap the value of report or suggestion commented out now since we are doing it differently.
/* $('#select-report').click(function(){
    $('#concern_category').val('Report');
});

$('#select-suggestion').click(function(){
    $('#concern_category').val('Suggestion');
});
*/
</script>

<script>
 $('#select-report').click(function(){
    $('#select-report').addClass("tab-btn2")
    $('#select-suggestion').removeClass("tab-btn2")
});

$('#select-suggestion').click(function(){
    $('#select-suggestion').addClass("tab-btn2")
    $('#select-report').removeClass("tab-btn2")
});
 </script>