<!-- Main partial for listing of posts within subtopics and topics. Rendered in from Ossembly (views/ossembly/index.html.erb), Topics Show (views/topics/show.html.erb) and Subtopics Show (views/subtopics/show.html.erb). -->
<div id="posts_list">
  <% if obj.empty? && !current_page?(city_ossembly_path(@city)) %>
    <h2 class="center-all light-box-shadow py-3 mt-0 bg-white">
      No <span class="i">Posts</span> to show yet. 
      <a class="title_link" href="<%= new_subtopic_post_path(@city) %>">
        Post one now!
      </a> 
    </h2>
  <% end %>
  <!-- Below - Renders in each post for a given instance variable. -->
  <% obj.each do |post| %> 
    <div class="col-d-12 card bs_hover light-box-shadow no-border-radius padding-y-0 margin-b-15 padding-x-20" style="border: 1px solid rgba(128, 128, 128, .5)">
      <div class="pull-right mt-0 no-padding">
          <!-- Below - If statement determining if any images are attached to the post. -->
          <% if post.image.attached? %>   <!-- Post HAS images attached -->
          <div class="col-d-2 col-t-3 col-p-12 pull-left mb-2 mr-4 margin-t-18">
            <div style="min-height: 14rem">
              <%= link_to image_tag(post.image.variant(combine_options: {crop: "1100x1100+0+0", gravity: "center"}), id: "uploaded_image", class: "center-content comp_ms_image" ), subtopic_post_path(@city, post.topic, post.subtopic, post) %> 
            </div>
            <div class="center-all mt-4">
              <!-- Below - Renders in helper method for endorse in upvotes_helper.rb. Instance method, name of controller, and then name of resource to display on the button itself. -->
              <%= display_endorse_button(post, "posts", "List", subtopic_post_path(@city, post.topic, post.subtopic, post)) %> 
            </div>
          </div>
          <% else %>  <!-- Post does NOT have any images attached to it. -->
          <div class="col-d-2 col-t-3 col-p-12 pull-left mb-2 mr-4 margin-t-18">
            <p class="well margin-y-0 center-all center-vertical ms_box_hide" style="min-height: 14rem">
              <i class="center-all fas 
              <%= 'fa-bullhorn' if post.topic == @lets_talk %>
              <%= 'fa-hand-peace' if post.topic == @good_vibes %>
              <%= 'fa-gavel' if post.topic == @city_affairs %>
              " style="font-size: 65px"></i>
            </p>
            <div class="center-all mt-4">
              <!-- Below - Renders in helper method for endorse in upvotes_helper.rb. Instance method, name of controller, and then name of resource to display on the button itself. -->
              <%= display_endorse_button(post, "posts", "List", subtopic_post_path(@city, post.topic, post.subtopic, post)) %> 
            </div>
          </div>
          <% end %>   <!-- End - Complaint Images Check -->
          <!-- End - If statement determining if any images are attached to the post. -->
        

          <div id="resource_list" class="tier col-p-12">

            <h4 class="ms_small_margin pl-0 pr-0 mt-3 ml-0 text-large mb-2 relative" style="top: 5px">
              <%= link_to "#{post.title.truncate(38)}", subtopic_post_path(@city, post.topic, post.subtopic, post), class: "title_link" %>
            </h4>
            <p class="text-muted text-medium mt-1 mb-0 col-all-12" style="height: 57px">
              <span class="tier">
                <span style="width: 35px !important; height: 30px !important;">
                  <%= display_list_avatar(post.user) %>
                </span>
                <span class="relative" style="top: 4px; left: 5px;">
                  <%= link_to post.user.name, user_path(post.user.city, post.user), class: 'text-medium text-muted' %>
                </span>
              </span>
                <br>
                <span class="relative" style="top: -20px">
                  <span class="text-medium"> 
                   <b>Posted:</b> <%= time_ago_in_words(post.created_at).capitalize %> ago
                  </span>
               </span>
            </p>

            <div class="col-all-12 pull-left tier">
              <a class="btn mr-3 alt-action" href='<%= city_topic_path(@city, post.topic) %>' >
                <%= post.topic.name %> 
              </a>
              <a class="btn alt-action" href='<%= subtopic_path(@city, post.topic, post.subtopic) %>'>
               <%= post.subtopic.name %>
              </a>
            </div>
          <div class="col-all-12 ms_comp_margin tier ms_comp_no_padding">
            <div class= "mb-0">
              <small class="depAdd ms_comp_margin2 pull-left mt-2 ml-0" style="font-size: 1.8rem !important; color: black;">
                <small>
                 <%= post.description.truncate(170) %>
                </small>
              </small>
            </div>
          </div>
          <div class="col-all-12 px-0" style="margin-top: -8px">
            <!-- Begin -  Sharing Row -->
            <div id="share_tier" class="tier">
              <!--  Twitter and facebook buttons. COmmented out due to Facebook List sharing issues.
                <!-- Below -  Twitter share share. Goes to shares_helper.rb, passing in resource, website to share with, show page link, and then title.  
             <!--   %= display_share_button(post, "Twitter", subtopic_post_path(post.city, post.topic, post.subtopic, post),"#{post.city.name} #{post.subtopic.name} Post: #{post.title} - #{subtopic_post_url(post.city, post.topic, post.subtopic, post)}") %>
                <!-- Below -  Facebook share. Goes to shares_helper.rb, passing in resource, website to share with, show page link, and then title. 
                %= display_share_button(post, "Facebook", subtopic_post_path(post.city, post.topic, post.subtopic, post),"#{post.city.name} #{post.subtopic.name} Post: #{post.title}:") %>
              -->
              <div class="theme_color_black padding-t-8">
                <%= display_vote_count(post) %> <!-- Displays endorsements count  -->
              </div>
              <div class="theme_color_black mx-3 padding-t-8">
                <%= display_comment_count(post) %> <!--  Displays comments count -->
              </div>
            </div>
            <!-- End -  Filter tags Row -->
          </div>  
          </div>

      </div>
    </div>
  <% end %>
</div>

<script>
 $( document ).ready(function() {
if ($(window).width() < 768 ) {
  $('.complaints_tier').addClass('col-tier');
} else {
  $('.complaints_tier').removeClass('col-tier');
}});
  // On resize - Recenters the view panel.
  $( window ).resize(function() {
if ($(window).width() < 768) {
  $('.complaints_tier').addClass('col-tier');
} else {
 $('.complaints_tier').removeClass('col-tier');
}});
  
</script>