<%= simple_form_for(@map_project) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :status %>
    <%= f.input :description %>
    <%= f.input :address %>
    <%= f.input :slug %>
    <%= f.input :tags %>
    <%= f.input :admin_id %>
    <%= f.input :workplace_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
