<!-- Main Page for Map view of Departments index page. (views/departments/map_view.html.erb) -->

<!-- Begin - Map area -->

<div class="content">
  <div class="tier">
    <div class="col-d-2" style="display: hidden">
    </div>
    
    <div class="col-d-3" style="display: hidden">
    </div>
  </div>
</div>
<!-- Begin - Main content for community score page. -->
<div class="content">
  <div class="tier"> <!-- Begin - Main tier for page. -->
    <!-- Begin - Filter panel rendering -->
    <div class="col-d-2 col-t-10 col-p-12 center">
      <%= render 'layouts/city_feeds_panel' %>
      <%= render 'layouts/cs_filter_panel', obj: @departments %>
    </div>
    <div id="ms_ap_content" class="col-d-8 col-t-10 col-p-12 center" style="display: none; margin-bottom: 15px !important">
  <h3 class="mt-4">Rate your City</h3>
  <div id="action_panel_msfile">
    
  </div>
  <h3>Voice a Complaint</h3>
  <div id="action_panel_msreview">
    
  </div>
  <h3><%= @city.name %> Community Score</h3>
  <div id="action_panel_mstop">
  
  </div>
  <h3>Page Info</h3>
  <div id="page_info_mscard">
    
  </div>
</div>

    <div class="center col-d-7 col-t-10 col-p-12">
    <!-- Begin - Map Page Info -->
      <div id="page_info_card_org" class="col-tier">
      <div id="page_info_card">
      <div class="tier curved_box_top bg-white">
        <div class="col-all-12">
          <p class="theme_color_black trending_font_size pull-left" style="margin: 10px !important; margin-left: 0px !important; font-size: 1.8rem">
            Map
          </p>
        </div>

        <div class="col-all-12 light-box-shadow card" style="border: 1px solid rgba(128, 128, 128, .5)">
          <div class="card-body theme_color_black">
            <div class="col-d-9 col-t-12 col-p-12 pull-left">
             <h3 class="mt-0 mb-2 ms_page_title">The Map View</h3> 
             <p class="text-medium i mb-3">The Map View is filtered by the using the Filter panel on the left.</p> 
             <p class="text-medium mb-2">The default Filter will be all tangible factors of the Community Score.</p>
             <p class="text-medium mb-2">To explore the Complaint Process merely go over to ‘Complaints’ on the filter.</p>
             <p class="text-medium mb-2">Once a Complaint is completed, it will be shown as a tangible factor.</p>
             <p class="text-medium mb-2">Explore other real factors like Departments.</p>
             <p class="text-medium mb-0">The only intangible factor would be the WUL reviews. Which have no physical area, but are scored by the personal experiences of the City Residents.</p>
          </div>
          <div class="page_info_icon_hide col-all-3 pull-right center-all pl-3 theme_color_dark" style="font-size: 100px; margin-top: 30px">
            <i class="fas fa-map"></i>
          </div>
          </div>
        </div>
      </div>
       <div class="tier curved_box_bottom bg-white" style="margin-bottom: 15px !important"></div>
      </div>
      </div>
  <!-- End- Map Page Info -->
      <div class="tier curved_box_top" style="background-color: #FAFAFA">
        <div class="col-tier">
          <p class="text-xlarge theme_color_black center-all" style="margin: 10px !important; margin-left: 0px !important">
            Departments Map
          </p>
          <div class="col p-0"></div>
          <div class="pull-right"><%= render 'layouts/view_panel', obj: @departments %></div>
        </div>
      </div>
     
      <div class="col-d-12">
        <div class="tier">
          <div class="col-md-12 well mb-0 p-2" style="border-radius: 0px !important; background-color: white; border: 1px solid rgba(128, 128, 128, .5); border-left: 2px groove rgba(0, 0, 0, 0.35) !important; border-right: 2px groove rgba(0, 0, 0, 0.35) !important;">
            <!-- Begin - Map Row  -->
            <div class="map_area">
              <!-- Below - Renders Community Score map partial inside views/department/department_map -->
              <div class="col-12 ms_map" id="oss_map" style="border-radius: 0px !important; background-color: #FAFAFA">
                <%= render 'community_scores/cs_map_view', obj: @departments %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="tier curved_box_bottom bg-white" style="background-color: #FAFAFA"></div>
  <!-- End - Map area -->

    </div>
    <div id="non_ms_ap_content" class="col-d-3 col-t-10" >
      <%= render 'layouts/action_panel', obj: @departments %>
    </div>
  </div> <!-- Main page tier -->
</div> <!-- End - Map area -->