  <!-- Begin - Meta data for sharing on facebook and twitter. -->
    <meta property="og:title" content="Ossemble">
    <meta property="og:description" content="Your City, Your Score.
     Empowering citizens’ influence through community dialogue and government cooperation.">
    <meta property="og:image" content=
     "https://s3.us-east-2.amazonaws.com/www.ossemble.com/images/owl_login_logo.png">
    <meta property="og:url" content=
     "https://www.ossemble.com/"> 
    <meta property="og:type" content="website">
  <!-- End - Meta data for sharing on Facebook and twitter. -->
    
<!-- Begin - Index Splash Landing Page (views/visiotrs/index.html.erb)-->
<div id="newlanding" class="content-fluid pt-0 px-0">
  <div class="content-fluid">
		<h2 class="blocktext" style="padding-top: 35px !important; text-shadow: black 1px 1px 2px;">Ossemble</h2>
		<h1 class="blocktext" style="text-shadow: black 1px 1px 2px;">Collaborative Workplace for Municipalities</h1><br>
   <div class="col-all-12 mt-5">
   <div class="col-tier">
   <div class="center-all col-d-6 col-t-6 col-p-12 landingt-1">
     <p class="text-white text-20 mb-0" style="text-shadow: black 1px 1px 2px; letter-spacing: 1px;">Empower employees to discuss problems, <br> make suggestions, and bring forth solutions.</p>
     <p class="text-white text-20 mb-0 mt-3" style="text-shadow: black 1px 1px 2px; letter-spacing: 1px;">Get started by creating a free account</p>
     <div class="mb-2">
      <%= link_to new_admin_registration_path, id: "join-us-btn1" do %>
        <button onclick="amplitude.getInstance().logEvent('Try Now - City Landing Page');" class='button-one light-text-shadow light-box-shadow mb-5 margin-t-15 border-radius-5'>
          Try Now
        </button>
      <% end %>
     </div>
   </div>
     <div class="col-d-6 col-t-6 col-p-12 landingt-1 center-all">
       <%= image_tag "icons/landing/landing-page-top.png", alt: "Icon", class: "center-all mb-0 relatives", style: "height: 100%; width: 550px; top: -20px" %>
     </div>
      <div class="col-d-6 col-t-6 col-p-12 landingt-2 pull-right pr-0">
       <%= image_tag "icons/landing/landing-page-top.png", alt: "Icon", class: "pull-right mb-0 relative", style: "height: 100%; width: 550px; top: -25px" %>
     </div>
   <div class="pull-left col-d-6 col-t-6 col-p-12 pl-5 landingt-2">
     <p class="text-white text-20 mb-0 mt-5" style="text-shadow: black 1px 1px 2px; letter-spacing: 1px;">Empower employees to discuss problems, <br> make suggestions, and bring forth solutions.</p>
      <p class="text-white text-20 mb-0 mt-4" style="text-shadow: black 1px 1px 2px; letter-spacing: 1px;">Get started by creating a free account</p>
     <div class="">
       <%= link_to new_admin_registration_path, id: "join-us-btn2" do %>
        <button onclick="amplitude.getInstance().logEvent('Try Now - City Landing Page');" class='button-one light-text-shadow light-box-shadow mb-5 margin-t-15 border-radius-5'>
          Try Now
        </button>
       <% end %>
     </div>
   </div>
   </div>
   </div>       
  </div>
  <div style="background-color: #F8F8FF">
	 <div class="col-all-12 center" style="border-radius: 0px; max-width: 1400px">
		<div class="tier">
			  <div class="col-tier">
          <div class="theme_color_black center-all mt-4 mb-2 light-text-shadow" style="font-size: 32px; line-height: 45px !important">
           Join Ossemble Workplace beta and <br> lock in unlimited features for one full year. 
          </div>
        </div>
        <div class="col-d-4 col-t-10 col-p-12 mb-5 mt-4 px-3 center-all cl_price_nopad">
          <div class="card border-radius-10" style="background-color: #f9f9f9;">
            <div class="card-body p-0 light-box-shadow border-radius-10">
              <div class="col-tier" style="border-bottom: 1px solid rgba(220, 220, 220, .8); background-color: #e0dedf; border-radius: 10px 10px 0px 0px">
                <p class="center-all theme_color_black text-huge mt-3 roboto">
                  Workplace Beta
                </p>
              </div>
              <div class="col-tier">
                <p class="center-all theme_color_black text-xhuge mt-4 roboto">
                  Free for 90 Days
                </p>
              </div>
              <div class="col-tier">
                <p class="center-all theme_color_black text-xxbig mt-2 mb-1 border-bottom b roboto">
                 Features With This Plan
                </p>
              </div>
                <p class="center-all theme_color_black m-0">
	                 <p class="center-all roboto theme_color_black text-xxmedium mb-2">Internal Messages</p>
	                 <p class="center-all roboto theme_color_black text-xxmedium mb-2">Group Messages</p>
	                 <p class="center-all roboto theme_color_black text-xxmedium mb-2">Workplace Collaborative Feed</p>
	                 <p class="center-all roboto theme_color_black text-xxmedium mb-4">GEO Map Interactions</p>
                </p>
               <div class="col-tier">
                <p class="center-all roboto theme_color_black text-xxbig mt-2 mb-1 border-bottom b">
                Coming Soon
                </p>
              </div>
                <p class="center-all theme_color_black m-0">
	                 <p class="center-all roboto theme_color_black text-xxmedium mb-2">Internal Dashboard</p>
	                 <p class="center-all roboto theme_color_black text-xxmedium mb-2">Public Profiles</p>
	                 <p class="center-all roboto theme_color_black text-xxmedium mb-2">Easily Share Files</p>
	                 <p class="center-all roboto theme_color_black text-xxmedium mb-4">Plus More!</p>
                </p>
              <div class="col-tier pb-2" style="border-top: 1px solid rgba(220, 220, 220, .8);  background-color: #e0dedf; border-radius: 0px 0px 10px 10px">
                <div class="center-all my-3">
                  <%= link_to "Try now for Free", new_admin_registration_path, id: "", class: " button-land roboto light-btn-shadow light-text-shadow btn btn-lg center", style: "", onclick: "amplitude.getInstance().logEvent('14 Day Free Trial - City Landing Page');"  %>
                </div>
              </div>
            </div>
          </div>
        </div>
			</div>
		</div>
 </div>
 <div class="container-1 border-top"> 
  <div class="col-all-12 center-all" style="max-width: 1000px;">
    <div class="tier">
      <div class="col-d-6 col-t-6 col-p-12" style="float-left;">
      <h1 class="block1 center-all ms_vh_mt" style="">Innovate From Within</h1>
      <div class="def-text center-all p-0 pr-0">
        <p class="def-text">
					Create workplaces for individual departments <br> Every employee has a say <br> Interact with a map of your city
        </p> 
      </div>
      </div>
    	<div class="col-d-6 col-t-6 col-p-12 center-all ms_vid_mb" style="float-right">
     		<%= image_tag "icons/landing/Innovate.png", alt: "Icon", class: "center-all my-3", style: "height: ; width: 550px;" %>
    	</div>
    </div>
  </div>
 </div>
 <div class="container-1 border-top"> 
  <div class="col-all-12 center-all" style="max-width: 1000px;">
    <div class="tier">
     	<div class="col-d-6 col-t-6 col-p-12 center-all" style="float-right">
       <%= image_tag "icons/landing/Improve.png", alt: "Icon", class: "center-all my-3", style: "max-height: 395px; width: 550px;" %>
      </div>
      <div class="col-d-6 col-t-6 col-p-12" style="float-left;">
      <h1 class="block1 center-all ms_vh_mt" style="">Improve Efficiency</h1>
      <div class="def-text center-all p-0 pr-0">
        <p class="def-text">
 					Delegate department and citizen interactions <br> Prioritize content from employees <br> See real time data 
        </p> 
      </div>
      </div>
    </div>
  </div>
 </div>
 <div class="container-1 border-top"> 
    <div class="col-all-12 center-all" style="max-width: 1000px;">
      <div class="tier">
      <div class="col-d-6 col-t-6 col-p-12" style="float-left;">
        <h1 class="block1 center-all ms_vh_mt" style="">Connect with Constituents</h1>
        <div class="def-text center-all p-0 pr-0">
          <p class="def-text">
						Keep everyone up to date on current events <br> Discuss ongoing community developments <br> Communicate with verified residents
          </p> 
        </div>
      </div>
      <div class="col-d-6 col-t-6 col-p-12 center-all" style="float-right; height: 100% !important">
       <%= image_tag "icons/landing/Connect.png", alt: "Icon", class: "center-all my-3", style: "height: 100%; width: 550px;" %>
      </div>
      </div>
    </div>
  </div>
  <div class="content-fluid">
    <div class="col-d-10 col-t-12 col-p-12 center-all">
    	<div class="container3">
        <div class="col-all-12">
          <div class="tier">
            <div class="col-d-12 center-all">
	            <div class="page-end-box my-4 center-all col-d-5 col-t-7 col-p-12" style="border: 1px solid rgba(161, 101, 170, .2) !important;">
	              <h1 class="blocks mt-0"><b>Request your city</b></h1> 
	              <p class="end-text p-0">If your city isn't included in the Ossemble database, contact us to get it added.</p>
	              <div class="buttons-two">
	                <button class="button-one light-text-shadow light-box-shadow" style="border-radius: 5px; margin-top: 15px" onclick="ml_webform_742238('show');amplitude.getInstance().logEvent('Request City - Landing Page');"><span>Request City</span></button>
	              </div>
	        		</div>
        		</div>
      		</div>
    		</div>
    	</div>
     <%= image_tag "icons/OssembleBanner.png", alt: "Icon", class: "center-all my-4", style: "max-height: 425px; height: 100%; width: 100%;" %>
    </div>
  </div>
</div>
    
        

<script>
    var ml_webform_742238 = ml_account('webforms', '742238', 'l6h8p1', 'load');
    ml_webform_742238('animation', 'fadeIn');
</script>

<script>
  const textNode = document.querySelector('#jumbo_main_text,jumbo_slogan_text');
const splitTextArr = textNode.innerText.split(" ");
let finalMarkup = "";
splitTextArr.forEach(buildMarkup);


function buildMarkup(text, index) {
  let spanText;
  (index === 2) ? 
  spanText = "<span>" + text + "</span><br />" : 
  spanText = "<span>" + text + "</span> ";
  
  return finalMarkup += spanText;
}

textNode.innerHTML = finalMarkup;
</script>


